[2021-03-16 14:17] zenon-was-here commented on #1334
Thanks for sharing this info.

[2021-03-17 09:00] jsenko commented on #1334
I'm not against adding strict/relaxed options, but worry about possible complexity that can introduce. We would have to clearly define those categories. Maybe a better approach could be to allow users to ignore certain compatibility (sub)rules, which could be more cleanly defined, and otherwise keep it strict. We need to check if the current implementations can support this, but in case of e.g. JS

[2021-03-17 10:39] amalkurup89 opened #1353 "Integration with Keycloak"
Is Apicurio registry integrated with Keycloak

[2021-03-17 10:56] jsenko commented on #1353
Yes, but it's disabled by default, see https://github.com/Apicurio/apicurio-registry/blob/master/app/src/main/resources/application.properties#L105
Could you provide more details about your issue?
CC @carlesarnal

[2021-03-17 11:30] amalkurup89 commented on #1353
@jsenko Just like apicurio studio, I need a login functionality in Apicurio registry and logged in user should be entitled to view artifacts uploaded or shared with him, on registry UI

[2021-03-17 11:38] carlesarnal commented on #1353
hi @amalkurup89, you'll need to provide your own Keycloak server with a Realm properly configured with users matching the roles defined in the `application.properties` that Jakub shared with you. Let me know if you need help.

[2021-03-17 12:13] #1237 closed

[2021-03-18 09:45] carlesarnal commented on #1353
Hi @amalkurup89, [here](https://gist.github.com/carlesarnal/04d3febad33073007c53696ffa2fe87c)'s a realm for you to import into Keycloak.

The appropriate values for that realm are:

- name: AUTH_ENABLED
  value: 'true'
- name: KEYCLOAK_URL
  value: {KEYCLOAK_SERVER_URL}/auth
- name: KEYCLOAK_REALM
  value: registry
- name: KEYCLOAK_API_CLIENT_ID
  value: registry-api
- name: KEYCLOAK_UI_CLIENT_ID

[2021-03-18 09:46] carlesarnal commented on #1154
Yes, we need another task for configuring client credentials in the maven plugin. I'll add it.

[2021-03-18 09:51] carlesarnal commented on #1339
Although this approach seems reasonable to me, I slightly prefer an API-based approach. Get all keys of a running registry in 1.3.2.Final, get the actual artifact, and send them to a Registry running in 2.0.0.Final. We can tweak this approach to respect globalIds, I think.

[2021-03-18 09:55] carlesarnal opened #1357 "Add configuration properties to the maven plugin for configuring authentication client credentials"

[2021-03-18 09:58] carlesarnal commented on #652
@EricWittmann, I guess this can be closed...

[2021-03-18 14:21] carlesarnal commented on #1339
@Apicurio/developers thoughts?

[2021-03-18 15:10] famartinrh commented on #1339
This is the idea I have of how this could be implemented:
- We implement api endpoints in registry 2.0.0 for import and export (`/apis/registry/v2/admin/import`) this APIs are natively implemented in the storage, so more efficient mechanisms for exporting data can be used or more complex logic can be applied when importing data. I imagine we will have a compressed file with some file structure and

[2021-03-18 20:14] EricWittmann commented on #1353
@amalkurup89 What version of Apicurio Registry are you using?  Authentication via KC is new to version 2.0.x, which is just in the process of being released this month.

You would need to use e.g. 2.0.0.RC1 for this to work.

[2021-03-18 20:15] #652 closed

[2021-03-18 20:32] EricWittmann commented on #1339
I like this plan very much.  The only part of this that I think requires some thought and analysis is the globalId part.  Everything else is pretty straightforward, and is consistent with what I imagined we would have for import/export in our V2 API.  I think the utility to upgrade from Streams 1.x to Kafkasql 2.x certainly can use the import API, but it might make that tool slightly harder to wri

[2021-03-19 14:18] SgtMate opened #1360 "General questions about schema registry"
Hello,
I’m a student in a dual course of study at CLAAS, an agricultural machine manufacturer in Germany.
At the moment I’m working on a Kaka environment for data streaming on Kubernetes, for my first project.
I looked into the Confluent solution but would like to deploy a more open and independent solution with Strimzi.
On GitHub, the Strimzi community recommended your Schema Registry Project, so

[2021-03-19 14:23] ioggstream opened #1361 "Use RFC7807 format for errors"
I suggest to use RFC7807 aka problem+json format for errors, eg.

[code]

This format simplifies error processing and avoid confusing HTTP status codes (eg. 404) with specific error codes or messages at the application layer that enable extending error reporting in a backward-compatible way.

a more comprehensive example of problem+json

[code]

[2021-03-19 19:13] EricWittmann commented on #1360
Hi @SgtMate - thanks for the questions.  I'll do my best to answer inline below:

Yes - we're working on updating the documentation prior to releasing 2.0.0.Final.  We're hoping for the end of this month or early April.

OpenShift is not mandatory.  You can run Apicurio Registry using any of these deployment strategies:

* OpenShift
* Kubernetes
* Docker
* Bare metal (download and run the applicat

[2021-03-22 09:51] SgtMate commented on #1360
@EricWittmann Thank you for the quick response and the good explanation. That helped me a lot.

[2021-03-22 09:51] #1360 closed

[2021-03-22 14:46] EricWittmann commented on #1361
Interesting, thanks @ioggstream

@Apicurio/developers what do you think?

[2021-03-22 15:36] carlesarnal commented on #1361
+1, this seems reasonable, I like it.

[2021-03-22 16:14] tauonico opened #1366 "Implementing max size requests on upload"
Some proxy block request body by size, is possible to add a parameter to define upload by chunks?

[2021-03-22 19:39] hhkkxxx133 opened #1367 "JSON compatibility check for combined schema"
Hello,

I am testing the JSON compatibility check for the combined schema. There are multiple cases when combined keyword changes that seem incorrect.

Let me know what do you think!

Test cases:
1. allOf to anyOf - backward compatible, and vice versa
[code]
This also applies when:
(a) adding additional subschema in the updated schema
(b) subschemas are backward compatible

2. oneOf to anyOf - bac

[2021-03-22 20:56] hhkkxxx133 opened #1368 "JSON compatibility check for conditional schema"
Hello,

I am testing the JSON compatibility check for conditional schema. There are some cases that seem incorrect.

Let me know what do you think!

For example:
if added; and vice versa for if removed
(a) full compatible
[code]
(b) forward compatible
[code]
(c) forward compatible
[code]

[2021-03-23 10:27] dev-ops-hub opened #1370 "Differences between using kafka storage and kafka stream storage for Apicurio"
Based on the https://www.apicur.io/registry/docs/apicurio-registry/1.3.3.Final/getting-started/assembly-installing-registry-docker.html, we can install Apicurio Registry with either (1) Apache Kafka Storage or (2) Apache Kafka Stream Storage.

I would like to know:
1) What are the differences between using Kafka Storage and Kaf Stream Storage for Apicurio?
2) Are there any advantages and disadvant

[2021-03-23 21:01] EricWittmann commented on #1361
It's probably too late to do this for 2.0.0 - so we'll need to think about the impact wrt client compatibility.

[2021-03-23 21:03] EricWittmann commented on #1366
Interestingly we'll be implementing various limits, including max body size, pretty soon.

[2021-03-23 22:09] EricWittmann commented on #1370
I can certainly explain the differences, but you should know that both of those storages have been removed in the upcoming 2.0.0.Final release.  In 2.0.0 we support these two storages:

* apicurio-registry-sql (store data in a PostgreSQL db)
* apicurio-registry-kafkasql (store data in a Kafka cluster)

Going forward, the decision point is whether you want to store registry data in PG or in Kafka.

[2021-03-24 08:17] ioggstream commented on #1361
I understand. The custom part of rfc7807 allows to add the new properties along the old ones, as there are no conflicting names. In future we could deprecate the old ones or use them to provide further information.
In the meanwhile, thanks for your time!

[2021-03-24 09:09] jsenko commented on #1368
Hi Kexin, these cases are interesting because checking conditionals is tricky. You're correct I think:
(a) I agree that adding/removing the condition without `then` or `else` branches should be full compatible
(b) Should be forward compatible, only if the `then` schema is forward compatible with the whole schema. This would be the case and I think it can be checked.
(c) Similar here, but both the

[2021-03-24 09:37] jsenko commented on #1367
Hi Kexin,
1. I agree `allOf` to `anyOf` should be backwards compatible, if each schema in `allOf` is forward compatible with some schema in `anyOf`. This should satisfy both cases (a) and (b). WDYT? I'm not sure what you mean by vice versa, backwards<-->forwards or reverse `anyOf`-->`allOf`?
2. This is similar to (1)
3. I think that `simple` to `anyOf` should be backwards compatible, if `simple` i

[2021-03-24 14:22] jsenko opened #1375 "Add a way to enable relaxed compatibility rules"
Related to #1334

Currently, compatibility rules are only an on/off functionality. If the rule implementation is too strict or unable to cover some cases (e.g. regexp pattern in JSON schema), users have no way to tell the system they want to override the rule or relax some requirements.

[2021-03-24 14:44] harshsp31 opened #1376 "Installation error"
Hi,
I am quite new at this so forgive me if this sounds stupid but I can't seem to perform `mvn clean install` successfully.

I  get the following error:

[code]

[2021-03-24 14:53] riprasad opened #1377 "Remove Docker Maven Plugin"
Replace the docker maven plugin and use native docker commands to build images from Dockerfile.

[2021-03-24 23:32] hhkkxxx133 commented on #1367
Hi Jakub,

1 and 2:
My "vice versa" here means if `anyOf` -> `allOf`/`oneOf`, should be forward compatible.
When you say each schema in `allOf`/`oneOf` is forward compatible with some schema in `anyOf`, I am a little bit confused.
For example, below case should be backward compatible.
[code]
where `"maximum": 100` is backward compatible with `"maximum": 200`. So what do you mean "forward" here?

3

[2021-03-25 06:07] harshsp31 commented on #1376
Turns out I had to upgrade maven to 3.6.3

[2021-03-25 06:07] #1376 closed

[2021-03-25 07:28] dev-ops-hub commented on #1370
Hi Eric,
Thank you for your response and explanation.  You have mentioned that in Final 2.0.0:

"kafkasql implementation which uses Kafka to replicate the data across all cluster nodes and then stores the data in an **in-memory H2 database**"

Moving forward, does this mean that I could not store the data is a persistence storage if I chose to use kafkasql?

Thanks and regards.

[2021-03-25 17:09] #1377 closed

[2021-03-25 17:13] EricWittmann commented on #1370
When using the **kafkasql** storage implementation, Kafka is being used as the persistent storage.  We create a topic with log compaction enabled, so messages will stick around forever.  This allows registry data to be persistent across restarts (and when starting new nodes in a cluster).  Each time a new node starts up, it will consume all of the old messages from the Kafka topic to rebuild its s

[2021-03-29 08:23] vvilerio commented on #949
Hello,
for our business needs, I am currently working on implementing ElasticSearch Storage to improve the search feature of Apicurio-registry. It would be interesting if I took care this issue.

[2021-03-29 14:02] EricWittmann commented on #1313
Note that we have temporarily disabled the UI when in multi-tenant mode.  Until we can figure out a good way to automatically support a multi-tenant enabled UI.

[2021-03-29 14:09] EricWittmann commented on #1324
Finally have an update on this.  We've implemented this feature in 2.0.  Now whenever an artifact or artifact version is created, you can specify/override the version by sending the `X-Registry-Version` HTTP request header.  The value can be a string.  From then on, you can use that version value when executing any operation that requires it.

[2021-03-29 14:09] #1324 closed

[2021-03-29 14:10] EricWittmann commented on #1248
Marking this as fixed in 2.0 (we think it is).  If this is still a problem, please re-open this issue!

[2021-03-29 14:10] #1248 closed

[2021-03-29 15:40] vvilerio opened #1393 "A Strange ClassName Resouce"
io.apicurio.registry.storage.util.PostgresqlTestcontainerResouce.java
instead of
io.apicurio.registry.storage.util.PostgresqlTestcontainerResource.java

,well I guess

[2021-03-29 19:07] EricWittmann commented on #949
We'd be very happy to have a contribution!

[2021-03-29 20:27] tillias commented on #1353
Is there any ticket to subscribe to? We would be also very interested in this feature

[2021-03-29 20:51] EricWittmann commented on #1353
Auth via Keycloak is part of the 2.0.x release.

[2021-03-30 09:49] hhkkxxx133 opened #1395 "JSON compatibility check for object"
Hello,

I am testing the JSON compatibility check for the object. Similar to tuple, there are multiple cases when adding or removing items for an object in JSON Schema that seem incorrect.

Let me know what do you think!

Examples:
1.  Should be backward compatible - Add properties when additionalProperties false to true
[code]

2. Should be backward compatible - Remove properties when additionalP

[2021-03-30 10:31] carlesarnal commented on #949
Go ahead @vvilerio, contribution more than welcome!

[2021-03-30 10:32] carlesarnal commented on #1393
Hi @vvilerio, I cannot see any difference between the actual className and the proposed one, maybe a copy-paste mistake?

[2021-03-30 12:24] vvilerio commented on #1393
"Resouce" -> "Resou**r**ce"

[2021-03-30 12:26] carlesarnal commented on #1393
Ohh, thanks. Yes, you're right.

[2021-03-31 06:49] kcheenu opened #1398 "Question about registry versioning"
Do apicurio-registry support custom versioning ? Can the control of versioning be customized ? If so can you please help by giving the pointers ? Thanks.

Regards,
Srini

[2021-03-31 09:15] carlesarnal commented on #1398
Hi @kcheenu. We've introduced this feature in our 2.0 release. Basically, whenever an artifact or artifact version is created, you can specify/override the version by sending the `X-Registry-Version` HTTP request header. The value can be a string. From then on, you can use that version value when executing any operation that requires it.

[2021-03-31 14:46] kcheenu commented on #1398
Thanks carlesarnal. I tried by providing the registry-version in version 2.0 but still it is not picking the version which i'm passing.
For example below is my http header
content-type: application/json
cookie: e93476e7f1cdab5a19e47be7e3f00e18=c346a568db8736bde01816f5ba9bc2c8; e51ba8f75e96518c01facdf5b9aa13f1=961d71e33fbcd1c87c1a22123dd83820
accept: application/json
accept-encoding: gzip, deflate

[2021-03-31 14:55] carlesarnal commented on #1398
Sorry @kcheenu, this feature is not part of 2.0.0.RC1, will be part of the final release.

[2021-03-31 15:07] amalkurup89 commented on #1398
@carlesarnal what is ETA for final release version

[2021-04-01 14:40] vvilerio commented on #949
Implementing ElasticSearch Storage : Work In Progress...

[2021-04-05 05:48] kcheenu commented on #1398
@carlesarnal Any planned release date for 2.0 final release ? Appreciate your response if you. Thanks.

Regards,
Srini

[2021-04-05 08:49] hhkkxxx133 opened #1406 "JSON compatibility check for schemaDependencies - Object"
Hello,

I am testing the JSON compatibility check for the object. There are several test cases for schemaDependencies of object type that are incorrect. From the code, it looks like one diff type compatibility is setting wrong: [link](https://github.com/Apicurio/apicurio-registry/blob/master/schema-compatibility/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/DiffType.j

[2021-04-05 16:14] #802 closed

[2021-04-05 16:17] #1357 closed

[2021-04-05 16:36] EricWittmann commented on #1393
I noticed this and have fixed it in https://github.com/Apicurio/apicurio-registry/pull/1389

[2021-04-06 11:58] jcechace commented on #1162
@EricWittmann  I could still use the artefacts in maven central but I guess that is not happening until new 1.3.x release. Any plans to do that?

[2021-04-06 12:06] EricWittmann commented on #1162
We don't have plans for a new 1.3.x release - we're releasing 2.0.0.Final soon.  This week or next.

[2021-04-06 13:09] riprasad commented on #1162
@jcechace Try this, This should resolve the dependency

[code]

[2021-04-06 16:06] jcechace commented on #1162
That works, thanks a lot guys!

[2021-04-06 16:28] EricWittmann commented on #1398
The 2.0.0.Final release is scheduled for **very soon**...  Hopefully by the end of this week.

[2021-04-06 16:29] EricWittmann commented on #1398
Sorry for the delay responding to this.  Trying to get a bunch of things done and finalized so we can do the release. :)

[2021-04-07 04:08] kcheenu commented on #1398
Thanks @EricWittmann for the update. Hopefully the custom version feature is also part of this final release and we are eagerly looking to use this feature.

Kind Regards,
Srini

[2021-04-07 10:10] #1311 closed

[2021-04-07 16:03] EricWittmann commented on #1398
Yes - I can confirm that the custom version feature will be included in 2.0.0.Final.

[2021-04-09 12:51] tszappanos opened #1418 "Maven plugin call ends with ssl exception"
Repeated calling of two executions in one pom (first for goal register, second for download) ends in an exception. It only happens with a call via https. Via http and a separate call is ok. Is it not possible that the ssl connection on the client is not closed ?

Plugin settings:

    <groupId>io.apicurio</groupId>
    <artifactId>apicurio-registry-maven-plugin</artifactId>
    <version>2.0.0.RC1<

[2021-04-12 05:03] dev-ops-hub commented on #1370
@EricWittmann  Thanks for your prompt response. Much apprectiaged.

[2021-04-12 05:03] #1370 closed

[2021-04-13 13:38] #1121 closed

[2021-04-13 13:39] #1154 closed

[2021-04-14 03:32] kcheenu commented on #1398
@EricWittmann any updates on 2.0.0 final version release date ? Earlier communication says last week but i couldn't see them as of today. Appreciate your response. Thanks.

Kind Regards,
Srini

[2021-04-14 05:51] hhkkxxx133 commented on #1395
@jsenko Can you review the issue?

[2021-04-14 05:51] hhkkxxx133 commented on #1406
@jsenko Can you review this issue?

[2021-04-14 09:08] tszappanos commented on #1418
Just change the client variable in the AbstractRegistryMojo class to static and it will start working. Can you fix it, please?

[2021-04-14 10:38] jsenko commented on #1406
Hi @hhkkxxx133 , I think you're right, the `OBJECT_TYPE_SCHEMA_DEPENDENCIES_CHANGED` diff type should be backwards compatible, otherwise the `OBJECT_TYPE_SCHEMA_DEPENDENCIES_MEMBER_REMOVED` does not make sense.

[2021-04-14 10:38] carlesarnal commented on #1418
hi @tszappanos, [this](https://github.com/Apicurio/apicurio-registry/pull/1429) should fix the issue, correct?

[2021-04-14 11:51] tszappanos commented on #1418
@carlesarnal , yes

[2021-04-14 19:14] EricWittmann commented on #1398
The current plan is Friday of this week!

[2021-04-15 14:08] jsenko commented on #1395
hi @hhkkxxx133 thanks again for testing & contributing!
1. I agree, in general adding a new property schema should not be backward compatible, but if the `additionalProperties` was `false`, that would prevent a conflict.
2. I've run the test and it should currently work.
3. I agree, similar to #1
4. I agree, it is the #3 reversed
5. I agree, similar to #1
6. I agree again, the problem is that the

[2021-04-16 17:06] EricWittmann opened #1439 "Fix maven central deploy for exportV1 module"
When releasing to maven central, we get this error:

[code]

We need to fix this before releasing 2.0.1.Final (2.0.0.Final was accomplished by commenting out the module).

[2021-04-18 09:55] johnkbarrow opened #1440 "Using Registry with Avro but without Kafka"
Hi - do you have any guidelines/examples for how to use the Registry for Avro serialization/deserialization but in an architecture that doesn't include Kafka?
I see Apicurio-specific serde classes but they all seem tailored to using with Kafka.

Thanks in advance!

[2021-04-19 14:51] shionefaye opened #1441 "Expose more details on JSON subschema compability violation DiffType"
Currently, if a subschema change of a combined schema is backward incompatible, the DiffType is [`COMBINED_TYPE_SUBSCHEMA_NOT_COMPATIBLE`](https://github.com/Apicurio/apicurio-registry/blob/master/schema-compatibility/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/CombinedSchemaDiffVisitor.java#L134).

It is not very helpful to diagnose which part of the subschema chan

[2021-04-19 16:13] johnkbarrow opened #1442 "Error loading Registry UI on https"
As per [#1120 ](https://github.com/Apicurio/apicurio-registry/issues/1120) I've used environment variables REGISTRY_UI_CONFIG_UIURL and REGISTRY_UI_CONFIG_APIURL to allow the Registry UI to work with https.
Unfortunately, when calling https://myschemareg/api I'm getting an error as that page is in turn trying to call http://myschemareg/openapi?format=JSON.
I can't find a similar environment variab

[2021-04-19 18:36] shionefaye opened #1443 "JSON schema compatibility rule bug: no change but neither forward nor backward compatible"
It is tested with the code in at this [commit](https://github.com/Apicurio/apicurio-registry/commit/c8c510ed7fd0ca47ef27d55554d8ecfdc84252dd).

No change but validate as neither forward nor backward compatible.
[code]
Backward diff: `[Difference(diffType=COMBINED_TYPE_SUBSCHEMA_NOT_COMPATIBLE, pathOriginal=, pathUpdated=/properties/address, subSchemaOriginal={"$ref":"#/definitions/commercial"}, su

[2021-04-19 18:41] shionefaye opened #1444 "JSON schema compatibility rule bug: Remove an optional field should be backward compatible not full compatible"
It is tested with the code in at this [commit](https://github.com/Apicurio/apicurio-registry/commit/c8c510ed7fd0ca47ef27d55554d8ecfdc84252dd).

[code]

[2021-04-19 20:01] blacktooth commented on #1444
Hello shionefaye,

Can you please share the code / test results that you tested this with?

[2021-04-20 08:19] jsenko commented on #1444
Hello @shionefaye ,
I've run your test case and it works as expected. Please share more info (as @blacktooth mentioned) or I'll have to close this issue. Thanks!
See https://github.com/jsenko/apicurio-registry/tree/tmp1

[2021-04-20 08:27] #1406 closed

[2021-04-20 08:28] #1395 closed

[2021-04-20 10:21] jsenko commented on #1443
Hello @shionefaye ,
I may be mistaken but `original` and `updated` schemas in you example are the same. I've tested them and they are both backward and forward compatible. Please provide a specific commit where I can reproduce the issue.

[2021-04-20 10:25] #1367 closed

[2021-04-20 10:27] jsenko commented on #1440
Hi @johnkbarrow Could you provide more details about the architecture you have in mind? What feature would you expect to see for non-Kafka use cases?

[2021-04-20 10:34] johnkbarrow commented on #1440
Hi @jsenko - I'm designing an application that has designated extension points (functional interfaces) that can be customised on a per customer basis. So i'm looking to publish the schema of the request and response objects to allow them to be implemented by these external customisations.
I have something working using AvroKafkaSerializer to publish the schema to the repository and serialize the o

[2021-04-20 12:53] shionefaye commented on #1444
Hi blacktooth and jsenko,

Thanks for the timely response. I tested the with the latest change in the [master branch](https://github.com/Apicurio/apicurio-registry/commit/c8c510ed7fd0ca47ef27d55554d8ecfdc84252dd).

Now I run the test with with `tmp1` branch. The issues I reported in this and #1443 is gone. But a new issue emerges

The following change is backward compatible only.
[code]

Backward

[2021-04-20 13:10] shionefaye commented on #1443
Right, it is what I was testing. You can resolve this one since the test passes with tmp1 branch.  Looks like I was testing this one with 2.0.0-SNAPSHOT.

[2021-04-20 13:11] #1443 closed

[2021-04-20 17:02] EricWittmann commented on #1442
For version 1.3.2.Final, which I'm assuming is what you're using, there unfortunately is not a config setting for that.  Here is the code that is giving you trouble:

https://github.com/Apicurio/apicurio-registry/blob/e3f786ab30af5412d853a4acde793c6e09584724/app/src/main/java/io/apicurio/registry/ui/servlets/SpecUrlFilter.java#L187-L195

That has been changed fairly significantly in the latest rel

[2021-04-20 17:06] EricWittmann commented on #1440
Interesting idea.  The SerDe layer is definitely intended to be pretty specific to the Kafka use case.  @famartinrh and @jsenko what do you guys think about this?  Does it make sense to extract the core serialize/deserialize logic in a way that doesn't use Kafka interfaces or classes?

[2021-04-20 17:06] johnkbarrow commented on #1442
Hi @EricWittmann - yes, I'm using 1.3.2.Final. It's not a big issue for me as I'm using the REST API rather than the UI.

[2021-04-20 17:13] johnkbarrow commented on #1440
Hi @EricWittmann - I definitely appreciate that it will be more work to add a non-Kakfa specific layer, but ideally I would like to see AvroSerializer/AvroDeserializer then extended by AvroKafkaSerializer/AvroKafkaDeserializer as needed.

[2021-04-20 17:15] EricWittmann commented on #1442
OK thanks.  Would it be possible for you to test 2.0.0.Final with your setup?  I'd be very interested if there are any similar issues with SSL remaining there.  In this case, hitting `/apis` and then seeing if the API docs for each API worked, that would be super helpful.  If it's not easy for you to test don't worry about it. :)

[2021-04-20 17:16] EricWittmann commented on #1440
Understood.  I'm not opposed to the idea.  Just need to look at the practicality of it!  :)

[2021-04-20 17:17] EricWittmann commented on #1447
@carlesarnal can you have a quick look at this?

[2021-04-20 17:20] johnkbarrow commented on #1442
I'm using the docker in-memory image - is there a 2.0.0.Final release of that yet?

[2021-04-20 17:45] johnkbarrow opened #1448 "Request: Any plans for a node.js client?"
Something similar to https://kafkajs.github.io/confluent-schema-registry/docs/introduction?

[2021-04-21 07:18] carlesarnal commented on #1447
Hi @teksuo, first of all, which version of the Registry are you using? We recently released `2.0.0.Final `with several changes to the rest client.

[2021-04-21 11:25] EricWittmann opened #1449 "Ccompat API should accept both application/vnd.schemaregistry.v1+json and application/json"
Our ccompat API currently accepts `application/vnd.schemaregistry.v1+json` as the input/output for all JSON based requests.  So if a user tries to make a request using `Accept: application/json` (for example) the request will fail.  We should allow both.

[2021-04-21 11:57] EricWittmann commented on #1449
Note: this problem has been reported for version 1.3.2.Final.  The report includes this reproducer:

[code]

That will apparently fail.  I have not yet tried it to confirm.

[2021-04-21 11:57] EricWittmann commented on #1449
It's possible that the problem is adding an `Accept` header for a GET operation...

[2021-04-21 12:04] carlesarnal commented on #1449
This was reported in the past and has been fixed for versions later than 1.3.2.Final, see #1017.

[2021-04-21 12:27] teksuo commented on #1447
Hi @carlesarnal , I am using the 1.3.2.Final, as it is the latest available in maven central:

https://mvnrepository.com/artifact/io.apicurio/apicurio-registry-rest-client

[2021-04-21 12:43] EricWittmann commented on #1449
Yes sorry - closing as duplicate of https://github.com/Apicurio/apicurio-registry/issues/1007.

[2021-04-21 12:43] #1449 closed

[2021-04-21 15:55] famartinrh commented on #1440
This reminds me to the work done [here](https://github.com/Apicurio/apicurio-registry/tree/cloud-events/utils/cloud-events/cloud-events-serde) and [here](https://github.com/Apicurio/apicurio-registry-examples/tree/master/cloudevents) , but built around cloudevents. The outcome is similar, a serdes library but without the kafka dependency.

Note that, those classes are absolutely outdated as of tod

[2021-04-21 16:46] johnkbarrow opened #1451 "Data serialized by AvroKafkaSerializer can't be deserialized by another Avro library"
Hi - I need to serialize data via the Apicurio serdes but then deserialize it with a different client library (i'm serializing in Java but deserializing in node.js).
I know when deserializing I need to account for the magic byte and the global id, but it seems that the actual serialized data doesn't contain control characters that other avro libraries are expecting.

For example, this is a data ob

[2021-04-21 16:53] johnkbarrow commented on #1451
I'm using 1.3.2.Final

[2021-04-22 13:08] tszappanos opened #1455 "serde security properties issues"
The following configurations do not work through client properties:
1. In case of setting apicurio.auth.username, apicurio.registry.url is taken into username and vice versa. Correction:
In the AbstractSchemaResolver class on line 82, the url and username parameters are exchanged

2. apicurio.auth.client.secret is not considered. The value from apicurio.auth.client.id is set. Correction:
In the De

[2021-04-22 13:16] carlesarnal commented on #1455
Hi @tszappanos,

You're right, both are wrong, thanks.

cc @famartinrh

[2021-04-22 13:18] tszappanos commented on #865
@EricWittmann ,do you have any idea when this requirement could be realized?

[2021-04-22 14:27] EricWittmann opened #1458 "Fix workflow for building CLI images"
We have a workflow that should be triggered (whenever a release is performed) to build our native CLI executables (one per operating system).  This workflow is not being triggered for a release build (it should).

[2021-04-22 15:24] johnkbarrow commented on #1442
@EricWittmann - I see why I got 1.3.2.Final - I used "_apicurio/apicurio-registry-mem:latest_"

Looks like 2.0.0.Final is tagged with "_apicurio/apicurio-registry-mem:latest-release_"

[2021-04-23 11:05] #1455 closed

[2021-04-26 00:40] EricWittmann opened #1462 "Can't add artifact with long description"
[code]

[2021-04-26 12:15] riprasad commented on #1458
@EricWittmann is this a high priority? If not, I would look into it after the downstream release activities are complete.

[2021-04-27 15:26] EricWittmann commented on #1458
Not a high priority at all.  Very low. :)

[2021-04-27 15:27] EricWittmann commented on #1458
I have updated the workflows so that they can be triggered manually.  I'm happy to live with that for the as long as needed. :)

[2021-04-27 18:40] EricWittmann commented on #1448
We don't currently have plans for a node.js client.  However, we do have a very good OpenAPI definition that you could use if you wanted to try something like https://www.npmjs.com/package/openapi-client-axios

I haven't tested our OpenAPI definition with a client sdk generator yet, but I'm happy to address any issues found.

Additionally, we provide API compatibility with confluent's schema regis

[2021-04-27 20:13] riprasad commented on #1458
This is interesting. I just mimicked the situation and created two workflows. one that creates a release and the other that should get triggered on the release event. It did not work. However, when I manually published a release using the Github UI, the workflow got triggered.

I will try to figure out why is this happening.

[2021-04-28 05:44] dependabot-preview[bot] opened #1471 "Dependabot couldn't find a pom.xml for this project"
Dependabot couldn't find a pom.xml for this project.

Dependabot requires a pom.xml to evaluate your project's current Java dependencies. It had expected to find one at the path: `/perftest/pom.xml`.

If this isn't a Java project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/Apicurio).

[View the update logs](https://app

[2021-04-29 17:35] johnkbarrow commented on #1442
Hi @EricWittmann - I finally got chance to do some testing with 2.0.0.Final with my setup:

The Registry UI wouldn't load properly without setting the environment variable
[code]

The /apis endpoint loads fine, apart from the link for the IBM Schema Registry `/apis/ibmcompat/v1` that returns a 404

[2021-04-29 18:42] EricWittmann commented on #1442
Great news!  Thanks for checking.  The IBM compat 404 error is unfortunate but expected (missing openapi spec for that API).

[2021-04-29 18:42] #1442 closed

[2021-04-29 18:46] EricWittmann commented on #1451
@famartinrh Any idea about this one?

[2021-04-29 18:51] EricWittmann commented on #865
I'm sorry no.  This is something that needs discussion and design.  If you have any suggestions about how it would work (especially any ideas that would apply generally to all supported types) that would be great.  But for now we're not sure exactly what the specific requirements would be.

[2021-04-29 18:52] EricWittmann commented on #1458
Very interesting!  Is there a way to explicitly trigger/invoke a workflow from another workflow?  We could chain them...

[2021-04-30 07:20] carlesarnal commented on #1447
Hi @teksuo, take a look at [this](https://mvnrepository.com/artifact/io.apicurio/apicurio-registry-client). The rest-client has been fully replaced by a new version using the JDK HTTP client. Could you give it a try?

Thanks!

[2021-04-30 08:23] famartinrh commented on #1451
I'm not sure I understand this fully.
So the serialized data from `AvroKafkaSerializer` did contain the magic byte and the globalId but you removed it, and the resulting bytes are not equal to the result of serialization with other libraries (I'm assuming those other libraries don't have any schema registry related functionalities)

For analizing this better it would be helpfult if you could share

[2021-04-30 08:40] johnkbarrow commented on #1451
Thanks for the comments @famartinrh . Let me simplify my test case and i'll share it here.

[2021-04-30 17:14] #1471 closed

[2021-04-30 21:39] kilahm commented on #1448
I also desire to have a Node SDK and ran the published OpenAPI document through `openapi-codegen`.  It looks like there are multiple places where the request body does not have a defined schema.

[code]

This results in errors that look like this:

[code]

<details>
<summary>
Full error output
</summary>

[code]

</details>

From what I gather, `openapi-generator` doesn't like a `requestBody` defi

[2021-05-03 07:30] Ycallaer opened #1475 "Request: Support in python ?"
Hi,
I was wondering if there are any plans to support apicurio as a library in python ?
Currently we are using Confluent schema registry , which integrates nicely with their producer, ideally we want something similar for apicurio.
I

[2021-05-03 11:25] EricWittmann commented on #1448
Ah yes that is a good reference to the OpenAPI spec, thanks.  I'll update the registry v2 API based on that info.

[2021-05-03 14:40] kilahm opened #1476 "Why limit "getArtifactVersionMetaDataByContent" request bodies to application/json?"
In attempting to address #1448 locally until @EricWittmann is able to supply an official solution, I saw the `getArtifactVersionMetaDataByContent` operation requires a body of content type `application/json`.  I can understand this for artifacts whose content is JSON, however I'm not sure how this endpoint would be used for WSDL, GraphQL, XSD, and other artifacts that aren't typically represented

[2021-05-03 15:00] kilahm commented on #1448
@EricWittmann - if it helps, here's my attempt at modifying the OpenAPI document such that `openapi-generator` actually generates something.  By habit, I formatted the document using Prettier, so the style doesn't match that of this project.

<details>
<summary>Full Document</summary>

[code]

</details>

<details>
<summary>Diff</summary>

[code]

</details>

[2021-05-03 15:53] EricWittmann commented on #1448
That is helpful, thank you.  That's pretty much exactly the set of changes I've made as well. :)

[2021-05-03 16:19] teksuo commented on #1447
Hi @carlesarnal , I have switched the client version and updated the server, also set the new endpoint to ".../apis/registry/v2" as stated in the updated sample (although the docs seems to be still outdated). Current client code would be as simple as:

`var client = RegistryClientFactory.create("http://<server_url>/apis/registry/v2);
 client.createArtifact(GROUP_ID, API_NAME, ArtifactType.OPENAPI,

[2021-05-03 16:25] johnkbarrow commented on #1451
@famartinrh - please close this issue as user error :-)

I wasn't using the "exact" same schema with the different libraries, hence the inconsistencies.

[2021-05-03 18:52] EricWittmann commented on #1448
@kilahm Updated the OAI definition in this PR:  https://github.com/Apicurio/apicurio-registry/pull/1477

More or less the same changes you indicated in your diff.  If you can give that a try using your tool chain that would be awesome.  Thanks!

[2021-05-03 19:07] kilahm commented on #1475
If you're asking for a client SDK to make communication of the Apicurio Registry REST api easer, you can follow the conversation in #1448 .  Once the issues with the provided OpenAPI document [are resolved](https://github.com/Apicurio/apicurio-registry/pull/1477), [`openapi-generator`](https://openapi-generator.tech/) should provide you with a library wrapping all of the HTTP requests and response

[2021-05-03 19:29] kilahm commented on #1448
As noted on the PR, seems there's at least one more operation without a defined request schema.

[2021-05-04 06:01] Ycallaer commented on #1475
Ok thanks for your feedback, will check it out

[2021-05-04 06:01] #1475 closed

[2021-05-04 07:33] Ycallaer opened #1478 "Using ccompat creates base64 encoded protobuf schemas ?"
Hi,
While testing with confluent-kafka 1.4 (python library) I noticed that protobuf schemas are stored in apicurio as a base64 encoded string.
The serializer gets build as follows:
[code]
When I check the final result, the data is in kafka and the expected entries are in Apicurio.
However if I check the actual content in Apicurio (http://localhost:8888/ui/artifacts/default/etf_dummy_data-value/ver

[2021-05-04 07:47] #1451 closed

[2021-05-04 08:25] tszappanos opened #1479 "Wrong detection of magic byte during avro deserialization when the first field is empty"
In the case of BINARY encoding, at the empty value of the first field, the serializer inserts 0 into the first Byte and then the deserializer evaluates it as a magic byte and ends with an error.
The first byte should always be used for the magic byte. Even if it is not a value of 0.
Serializer code (AbstractKafkaSerializer) is not compatible:
`
            if (headersHandler != null && headers !=

[2021-05-04 09:01] carlesarnal commented on #1447
Hi @teksuo, glad you fixed that problem with the client, since we have a persistent problem with the documentation tab, let's close this and open a new issue to track the progress for that. Could you please create it and describe the situation there? Thanks!

[2021-05-04 09:01] #1447 closed

[2021-05-04 13:33] famartinrh commented on #1479
so, if I understood correctly, because of using a schema that allows to have an empty value in the first field... the deserializers incorrectly understand that as the magic byte and try to do the deserialization as if the Artifact Global ID was after that first byte.

I agree this is an issue.

Btw, the reason why this is happening now is because now (after Apicurio Registry 2.0.0.Final) the seria

[2021-05-05 11:44] EricWittmann commented on #1448
I missed one?  OK I'll track it down.

[2021-05-05 11:50] carlesarnal opened #1480 "Create spi for rest client implementations"

[2021-05-05 11:51] carlesarnal opened #1481 "Create rest client based on vert.x web client"

[2021-05-05 13:35] EricWittmann commented on #1448
OK I've updated the PR - now I think we've got everything.

[2021-05-05 14:38] kilahm commented on #1448
Ran the command to generate an sdk using `openapi-generator` based on the document in the main branch again, and it went through!  Thanks for the quick response and follow up on this issue!

[code]

[2021-05-05 15:17] shuawest opened #1483 "InvalidStateStoreException when using Kafka as registry store"
When I use Kafka/Streams as the Apicurio store following the Apicurio documentation, it works for some time, but then eventually but consistently returns an error stating [2] "InvalidStateStoreException: The state store, storage-store, may have migrated to another instance.".

[1] https://www.apicur.io/registry/docs/apicurio-registry/1.3.3.Final/getting-started/assembly-installing-registry-storage

[2021-05-05 16:56] EricWittmann commented on #1476
Yeah I noticed this while doing the updates in #1477 and fixed it there.  Thanks for reporting this!

[2021-05-05 16:56] #1476 closed

[2021-05-05 17:07] EricWittmann commented on #1448
Yay!  Thank you for your help on this.

I'll leave this issue open, even though I don't think we're planning on generating clients other than our current Java based client.

[2021-05-05 17:26] nicolaferraro opened #1484 "Read schema from header instead of inferring it"
When a serializer (e.g. avro) is set to auto-create the schema in the registry, the schema is inferred from the type of incoming data. It would be good imo if there was an option to get the schema (and schema type) from specific headers that are used by the serializer only.

The use case I've in my mind is for Apache Camel. A data source to which a Kafka producer is connected may know the full sch

[2021-05-06 08:42] marthjod opened #1485 "Problems running behind https"
We are running the the Registry as a Kubernetes deployment (quay.io/apicurio/apicurio-registry-sql:2.0.0.Final) and accessing it behind an HTTPS reverse proxy. We had to override

- `REGISTRY_UI_CONFIG_APIURL=https://...`
- `REGISTRY_UI_CONFIG_UIURL=https://...`

with https:// URLs to avoid Mixed Content errors where the browser complains about plain HTTP XHR requests for the HTTPS page (somewhat

[2021-05-06 08:58] tszappanos commented on #1479
thanks for the workaround, it looks like it works fine.

[2021-05-06 09:52] janvyhnanek opened #1486 "Duplicate schemas caused by different line endings"
The same schema is registered duplicately if uploaded from file with CR+LF line endings (e.g. from windows workstation) and then from file with LF line endings (e.g. from jenkins pipeline). Serialization of a message with such schema then fails - rest client cannot find such schema in schema registry.

Workaround is to set line endings to LF manually on each file but it is very uncomfortable for d

[2021-05-06 15:52] EricWittmann commented on #1485
There should be some console logging in the browser - if you could provide that it would help.  But if you're getting a stack trace from the server, the implication certainly is that the request is reaching the server but then failing.  The error you are seeing is what you would get if you tried accessing an endpoint that doesn't exist.  For example:

`https://apicurio-registry.internal.example.io

[2021-05-06 18:10] famartinrh commented on #1484
no there isn't, it's possible to tell the serializer how to find the schema you know beforehand in the registry, but it's not possible to configure the serializer to register the schema you want(instead of the inferred schema)

I wanted to add that feature for the json-schema serializer, but looks like this may be useful for all types of formats, so we can implement it generically for all serdes i

[2021-05-07 10:12] marthjod commented on #1485
Thanks for your swift reply.
The browser console essentially shows the 404 that's caused by the above error.
[code]
Here's the response from your proposed curl command:
[code]

If I understand you correctly, URLs are transformed into a http/localhost version internally? https://apicurio-registry.internal.example.io/apis/v2/search/galaxies causes a lookup for  http://localhost:8080/apis/registry/v2

[2021-05-11 11:27] marthjod commented on #1485
We're behind Cloudflare Access, if that gives you any hint?

[2021-05-11 11:30] marthjod commented on #1485
This https://apicurio-registry.internal.example.io/apis/registry/v2/search/artifacts works for example, this https://apicurio-registry.internal.example.io/apis/v2/search/artifacts doesn't.

[2021-05-11 12:17] EricWittmann commented on #1485
Oh man there is a subtle difference in those URLs that I didn't notice until you laid it out like that.  :)  OK, so can you provide your **exact** values for `REGISTRY_UI_CONFIG_APIURL` and `REGISTRY_UI_CONFIG_UIURL`?

[2021-05-11 13:27] marthjod commented on #1485
They are

[2021-05-11 14:04] upvest-juha commented on #1485
Yay, it works. Thank you.

[2021-05-11 14:06] EricWittmann commented on #1483
@carlesarnal @alesj This is something that has popped up in the past, right?  I can't recall if there was a resolution...

[2021-05-11 14:16] famartinrh commented on #1479
the workaround could be sufficient, but maybe it's better to know from the users if they really wanted to use the headers to transmit the globalId, wdyt @tszappanos is the workaround sufficient?

[2021-05-11 18:30] EricWittmann opened #1489 "Custom versions not being handled well in the UI"
The version selector widget is simply not displaying the version numbers if they are provided by the user.

[2021-05-11 21:57] Akhilj786 opened #1491 "Schema registry not working as expected when using confluent kafka python"
Description
===========
Versions:
python 3.8.8

Observing issues with confluent kafka python library leveraging apicurio registry

Version:
https://www.apicur.io/registry/docs/apicurio-registry/2.0.0.Final/index.html

How to reproduce

================

Sample code:
[code]

Proto file:
[code]

Checklist
=========
Please provide the following information:

 - [x] confluent-kafka-python and librdkaf

[2021-05-11 21:58] Akhilj786 commented on #1478
@Ycallaer @carlesarnal @EricWittmann Is there a sample implementation for python?
https://github.com/Apicurio/apicurio-registry/issues/1491#issue-888822344

[2021-05-12 01:39] bylee5 opened #1492 "Is there any way to shorten the time of avroconverter?"
hi, For large data, we are checking the json format and avro format, which are converter options in kafka.
The json format is too big for the data size, but the processing is fast.
The avro format has a small data size, but the processing is very slow.
The test results are as follows.
mysql table row: 167023, ibd: 1.1G
jsonconverter: 14 seconds, kafka topic size: 2.3G
avroconverter: 14min 08sec, k

[2021-05-12 08:54] janvyhnanek commented on #1486
It seems to me that avro schema generated in java class which is taken by serializator for lookup in schema registry is without any whitespace anyway. So maybe it is not even necessary to set up canonical attribute in Serdes classes in serialization client and it is sufficient to put it only in maven plugin, is my assumption right? It is functioning with different whitespaces in schemas registered

[2021-05-12 19:55] EricWittmann commented on #1491
I suspect you're using the wrong API endpoint for the Confluent compatibility REST API.  Try this endpoint:

`http://localhost:8081/apis/ccompat/v6`

My guess is you're using the old endpoint of `/api/ccompat` which is being rewritten as `/apis/registry/v1/ccompat`.  Unfortunately that won't work and you'll need to use the endpoint above.

[2021-05-12 19:57] EricWittmann commented on #1068
I suggest taking a break on this activity.  It might make more sense to just cut JDBI out of the picture.  We're not really using it for very much, and it **might** be easy enough to get rid of it.  In its place I could write a few classes that essentially mimicked the few things we actually use it for (connection handler, resultset handler, etc).

Thoughts?

[2021-05-13 06:10] Akhilj786 commented on #1491
@EricWittmann Yes changing the endpoint fixed it. Thanks.

[2021-05-13 06:10] #1491 closed

[2021-05-13 08:51] famartinrh commented on #1486
currently it's a bit of a mix in the serdes, the feature is being used but it's not configurable, my fault, it makes sense to expose a config property to configure the "canonicalization" of the content.

In the serdes we are using this feature in two places:

In the case of looking for the schema by content, to find if it already exists in order to use it. https://github.com/Apicurio/apicurio-regi

[2021-05-13 09:24] jsenko commented on #1485
@smccarthy-ie hi, Could you please add this to the documentation updates?

[2021-05-13 09:54] smccarthy-ie commented on #1485
Hi @jsenko This is waiting to be merged in https://github.com/Apicurio/apicurio-registry/pull/1488 :)

[2021-05-13 10:07] famartinrh commented on #1068
I like you highlighted that it **might** be easy enough, I'm ok with giving that approach a try, but do it in a new branch as an experiment.

Also I wonder if there isn't already a quarkus extension that allows to do very low level SQL stuff

[2021-05-13 11:24] janvyhnanek commented on #1486
We are using method from DefaultSchemaResolver to lookup by content (in 2.0.0.Final the method is called handleResolveSchemaByContent, but has the same boolean parameter as in your branch). The strange behaviour for me is that when duplicate schemas in registry occurs than this method fails (it occured for multiple users in our organization so I think it should be easily simulated - you can make d

[2021-05-13 13:27] jsenko opened #1499 "Support upload of schema definitons from URL"
Discussion: https://github.com/Apicurio/apicurio-registry/discussions/1494
See also: https://github.com/Apicurio/apicurio-registry-content-sync-operator/issues/3

[2021-05-13 18:37] EricWittmann commented on #1478
We don't have anything python related.  I would have expected any client that works with the Confluent Schema Registry API would work fine with Apicurio Registry as well. But there may well be a feature of the former that we didn't replicate.

[2021-05-13 18:55] EricWittmann commented on #1492
I'm afraid I don't have any insight into this.  Any thoughts @famartinrh @gunnarmorling @jpechane @alesj  @Apicurio/developers ?

[2021-05-13 19:57] EricWittmann commented on #1181
Yes I completely agree - we would very much like to have doc preview support for as many formats as possible.  That's definitely on the wishlist!

[2021-05-13 20:27] EricWittmann commented on #1068
Yes - doing the work on a branch for sure.

I haven't seen a low level SQL extension for Quarkus (Hibernate and Panache are the options afaik), but that may be due to a lack of looking. :)

[2021-05-13 20:33] #1485 closed

[2021-05-13 20:37] EricWittmann commented on #1486
OK it sounds like we have two improvements to make.  The Serdes layer needs to have the `canonical` option available via config.  And the UI should also have the option of canonical upload.

[2021-05-14 03:46] jpechane commented on #1492
@bylee5 Could you please share the connector configuration here together with the DDL of the table you were capturing?

[2021-05-14 08:11] gunnarmorling commented on #1492
Yes, with that info we should be able to do a profiling with JFR and see
where any slownesses are.

[2021-05-14 08:24] bylee5 commented on #1492
DDL and source connector information is as follows.
DDL:
CREATE TABLE `deal_check_list_repo` (
  `deal_check_list_repo_seqno` int(11) NOT NULL AUTO_INCREMENT,
  `main_deal_no` bigint(20) NOT NULL,
  `chklst_group` varchar(45) NOT NULL ,
  `chklst_data` mediumtext NOT NULL ,
  `create_dt` datetime NOT NULL ,
  `creator` varchar(50) NOT NULL,
  `update_dt` datetime NOT NULL DEFAULT,
  `updater` varc

[2021-05-14 08:42] famartinrh commented on #1068
maybe this https://quarkus.io/guides/reactive-sql-clients ?

[2021-05-14 14:37] EricWittmann commented on #1068
Yeah I saw that - not sure about using the reactive SQL client in a non-reactive Quarkus app.  That might work fine, it might not.  What I would really like to do in the future after things settle down a bit, is start thinking about Registry 3.0 - which I think we should re-engineer to be reactive.  I didn't think it was important originally, but not that we have multi-tenancy I think it would be

[2021-05-16 08:17] petolexa opened #1500 "Importing schemas from kafka after container restart crashes on "SELECT nextval('globalidsequence')""
Hello,

we have an issue with re-importing messages from Kafka topic back to internal h2 DB, that results into container crash. Here are the steps we followed:

1. Exporting data with [exporter](https://github.com/Apicurio/apicurio-registry/tree/master/utils/exportV1)
2. Importing it to apicurio-registry-kafkasql:2.0.0.Final container connected to empty Kafka topic
3. Everything works fine until w

[2021-05-16 10:17] petolexa commented on #1500
I found a workaround, that seems to be working (pods start normally after restart, no deadloop in DB):

I exchanged retrieving old globalIds in exporter [from metadata](https://github.com/Apicurio/apicurio-registry/blob/c228b851f39a69eb27b07b834ac132a59508644c/utils/exportV1/src/main/java/io/apicurio/registry/utils/export/Export.java#L161) for a sequence of globalIds starting from 1 and increased

[2021-05-16 14:22] mgvirtzm commented on #1339
A couple of questions about migration of apicurio server with SQL storage from 1.3.x to 2.x.

1.  Is there a need in database migration when upgrading apicurio server to 2.x while using v1 API?
2. Will there be a need to migrate the database when upgrading to v2 API?

[2021-05-17 09:13] janvyhnanek opened #1501 "Registration of schemas with same artifactId and different groupId causes error in api"
If two schemas with same artifactId and different groupId are registered, then api returning schema by globalId (apis/registry/v2/ids/globalIds/{globalId}) fails for globalId of both schemas with error:

{"message":"No artifact with ID '120' in group 'null' was found.","error_code":404,"detail":"io.apicurio.registry.storage.ArtifactNotFoundException: No artifact with ID '120' in group 'null' was f

[2021-05-17 10:36] mrizzi opened #1502 "Import on registry startup"
When deploying a new instance of the registry, it would be nice to have a way to import during startup a previously exported registry's content .
In this way, once started, the registry will be pre-filled with a set of configurations and schemas ready to be used/consumed.

[2021-05-17 12:30] carlesarnal commented on #1480
@Apicurio/developers I have a question regarding the rest-client spi. How do we want to manage the dependency stuff, leveraging the user to include whatever dependency they want (no, I assume)? Using profiles to include one or another (e.g. the native profile will include the vertx impl)? Thoughts?

[2021-05-17 14:23] famartinrh commented on #1480
probably worth asking Quarkus people.

but my take is marking the client dependencies as "provided" so the user provides the dependency

[2021-05-17 15:26] famartinrh commented on #1339
Data migration is needed in both cases. The `jpa` storage we had in 1.3.x and the `sql` we have now in 2.x use different database schemas.

In 2.x we now have an import/export api that will help with the data migration process. it's documented here https://www.apicur.io/registry/docs/apicurio-registry/2.0.0.Final/getting-started/assembly-managing-registry-artifacts-api.html#exporting-importing-usi

[2021-05-17 16:28] famartinrh commented on #1501
this looks like a bug
[code]

[2021-05-17 19:07] EricWittmann commented on #1500
This is a fine workaround if you don't care about preserving globalIds.  However, if you have existing Kafka apps with messages serialized using our Serdes, then you'll likely have the globalId embedded in the message payload.  So if you restore without preserving globalIds, then deserialization of those old messages will break.

If that's not an issue, then your workaround is fine.

I don't think

[2021-05-17 19:08] EricWittmann commented on #1500
@famartinrh ^^^

[2021-05-18 08:02] carlesarnal commented on #1483
[Here](https://github.com/Apicurio/apicurio-registry/issues/1241)'s the only workaround I'm aware of. We're not following on it since we've removed the streams storage in `2.0.0.final`

[2021-05-18 08:12] carlesarnal commented on #1244
hi, @tszappanos I'm closing this, please, reopen it if you have any questions.

[2021-05-18 08:13] carlesarnal commented on #1353
Closing this, if anyone has any objections, please reopen.

[2021-05-18 08:13] #1353 closed

[2021-05-18 08:14] #1393 closed

[2021-05-18 08:16] carlesarnal commented on #1398
Closing since this feature has been released in `2.0.0.final`.

[2021-05-18 08:16] #1398 closed

[2021-05-18 08:16] #1418 closed

[2021-05-18 13:32] EricWittmann commented on #1480
Agreed - it would be optimal if the vert.x client dependencies were "provided" and the default client impl should use the jdk client.  That way if the user does nothing special, it will still work (using the built in java client) without needing any dependencies.  To use another client (e.g. the vert.x one) they will need to set some kind of config property to switch to another client, and they wi

[2021-05-18 13:51] famartinrh commented on #1480
I think we agreed that if the user wants to use the vertx client they will need to pass a vertx instance as a parameter for creating the registry client object

[2021-05-19 07:36] petolexa commented on #1500
Thank you for the answer and for suggestions. I checked with my colleagues and you are right, we cannot use 'simple' sequence workaround as globalIds have to stay preserved.

Prevoiusly we used Streams version and I think our large global IDs are connected with [this code](https://github.com/Apicurio/apicurio-registry/blob/e3f786ab30af5412d853a4acde793c6e09584724/storage/streams/src/main/java/io/a

[2021-05-19 09:33] petolexa commented on #1500
Thank you for the recommendation, we were discussing if it is worth trying PostgreSQL instad of Kafka in v2, but the biggest concern is about the performace - PostrgreSQL should be significantly slower as Kafkasql version uses in-memory DB. On the other hand, importing messages from Kafka topic on every re-deployment migth bring issues like thisone.

We have 53 artifacts now, at the time of writin

[2021-05-19 16:37] #1502 closed

[2021-05-19 16:38] #1501 closed

[2021-05-20 03:08] Yuutakasan commented on #1260
@EricWittmann
When I register this json-schema to the apicurio regisrty 2.0.0.Final server and run the following search, I get the result that all APIs are searched. Is there a difference in usage?

My expectation was that the following data would be searched.
$.properties.postal_code

http://127.0.0.1:8080/apis/registry/v2/search/artifacts?limit=10&order=asc&orderby=name&properties=properties:pos

[2021-05-20 07:41] carlesarnal commented on #1260
Hi @Yuutakasan, since search by properties is not implemented yet, you should be getting an exception. That said, in the future, in order to send the list of properties, you will need to concatenate them. In your example that is translated into:

`http://127.0.0.1:8080/apis/registry/v2/search/artifacts?limit=10&order=asc&orderby=name&properties=postal_code&properties=prefecture`

That search will

[2021-05-20 08:06] Yuutakasan commented on #1260
@carlesarnal
Thanks for the reply.

I thought it worked when I ran it with Docker before. It may have been a confirmation error. I'll check again.

http://localhost:8080/api/artifacts?offset=0&limit=20&labels=search&properties=properties%3Apost_code

[2021-05-20 14:25] EricWittmann opened #1513 "CI Workflow issue: PR builds not using the right code?"
Recently I submitted a PR for removing the JDBI dependency here:  https://github.com/Apicurio/apicurio-registry/pull/1509

The build was failing with **compilation** errors, despite the build working locally for everyone who tried it.  After a bunch of changes to the PR to try and figure out what was going on, Paolo realized that the maven compile plugin was reporting that it was compiling 305 .ja

[2021-05-20 14:46] petolexa commented on #1500
I've tried the fix above with the latest-snapshot container and it works nicely for me:
[code]

no container crash, no issues after container restart and re-import from Kafka topic. Thank you very much for quick fix.

Can I close this? Or maybe wait a while maybe, if your colleagues could estimate next minor Final release date?

[2021-05-20 15:46] famartinrh opened #1514 "[question] disable direct access to API when multitenancy is enabled?"
Currently if multitenancy is enabled ,with or without authentication enabled, the default tenant can be used. It's possible to make requests straight to `/apis/registry/v2` and it just works, while at the same time it's possible to do it providing the tenantId `/t/{tenantId}/apis/registry/v2`

I was considering if we should disallow the direct access to the API when multitenancy is enabled... in t

[2021-05-20 19:33] EricWittmann commented on #1500
( closing this as fixed by https://github.com/Apicurio/apicurio-registry/pull/1507 )

[2021-05-20 19:33] #1500 closed

[2021-05-20 20:14] EricWittmann commented on #1483
@shuawest are you in a position where you can upgrade to 2.0.0.Final, at least to test whether this error occurs?

[2021-05-21 16:03] EricWittmann commented on #1260
It's more than this, actually.  The search-by-properties feature is not designed to search within the **content** of an artifact.  Instead we have artifact meta-data called `properties` which (just like `name`, `description`, and `labels`) is information provided by the user when creating the artifact/version or after creation when updating.  We don't currently extract properties from the content

[2021-05-21 16:10] EricWittmann commented on #1514
I noticed this recently too and it was on my list to open an issue for it.  So this is great.

I think we should disable direct access to everything under `/apis/*` when running in MT mode.  Only access via `/t/{tenantId}` should be allowed.  However, I think that should be controlled via `application.properties` so that we can continue to support a deployment architecture where the tenantId is pr

[2021-05-24 07:46] famartinrh commented on #1514
so then the ideal solution I think it would be to have a property to enable/disable such check, and to implement the check in `RegistryApplicationServletFilter` the check will reject the request if no tenant information is found. Currently the tenantId lookup is delegated to `TenantIdResolver` which already allows for passing the tenantId in a header.

[2021-05-24 09:11] riprasad commented on #1458
@EricWittmann There is definitely a way to trigger a workflow from another workflow. For more information, please refer https://docs.github.com/en/actions/reference/events-that-trigger-workflows#workflow_run

However, I was more curious in knowing the reason why the release-event trigger is not working. I tried creating a release using the Github UI directly and also via Github's REST API and surp

[2021-05-24 10:13] riprasad opened #1518 "Create Bi-weekly job to run against Quarkus Latest Release"
The existing [job](https://github.com/Apicurio/apicurio-registry/blob/bf7ffb3ed249adb795bbce0c6a32fa24b8305eaf/.github/workflows/nightly-build.yaml) has two major drawbacks:-

1. **Runs against Quarkus Master** - we are likely not going to be able to fix whatever issue that comes out because there is no quarkus release we can use. the issue we have now is like this:-
[code]
they probably changed s

[2021-05-24 11:16] #1518 closed

[2021-05-24 17:29] #1458 closed

[2021-05-24 17:29] EricWittmann commented on #1458
Thanks!!

[2021-05-26 16:22] EricWittmann commented on #1514
Yes that's precisely what I was thinking for the impl.  +1

[2021-05-27 13:33] carlesarnal opened #1523 "Allow to disable security roles"
Right now, authorization is based on roles and ownership. Authorization based on ownership can be disabled using environment variables. Let's add this same capability to the roles based authorization

[2021-05-31 12:09] riprasad opened #1527 "Modularize Existing Monolithic Release Workflow"
The existing release workflow has multiple independent jobs packed together in a single monolithic workflow. Since. GitHub Actions don't natively support resuming the failed workflow from the point of failure, manual intervention is required to complete the release process. This of course defeats the whole purpose of CI/CD automation.

Modularizing the existing monolithic workflow into multiple in

[2021-06-01 07:56] hudec opened #1530 "Issues 1007 and 1017 are not yet fixed"
Hi
Ii have tested the next realeses:
- apicurio-registry-streams:1.3.2.Final
- apicurio-registry-streams:1.3.x-snapshot
- apicurio-registry-streams: latest
In all there's incompatibility with Confluent API
curl -H "accept: application/json" --silent -k -X GET https://apicurio.rob.i.cz/api/ccompat/schemas/types
{"message":"RESTEASY003635: No match for accept header","error_code":406}
This works fin

[2021-06-01 08:06] carlesarnal commented on #1530
Hi @hudec,

This has been fixed in versions later than 1.3.2.Final but note that the streams storage has been removed in 2.0.0.Final. That's probably the reason why you're still seeing this.

[2021-06-01 11:13] #1523 closed

[2021-06-01 14:38] upvest-juha opened #1534 "Field value limited at 1024 for top-level description."
Upload of an OpenAPI spec v 3.0.3 fails when it has a long documentation bit inside top-level `description`-field in the beginning because you have a limit of varchar 1024 in there somewhere.

io.apicurio.registry.storage.RegistryStorageException: org.jdbi.v3.core.statement.UnableToExecuteStatementException: org.postgresql.util.PSQLException: ERROR: value too long for type character varying(1024)

[2021-06-03 00:18] #1527 closed

[2021-06-03 01:25] EricWittmann commented on #1530
@hudec could you verify whether version 2.0.0.Final works for you?

[2021-06-03 04:48] hudec commented on #1530
Yes, of course
What is the correct URL for compatibility mode for apicurio/apicurio-registry-mem:2.0.0.Final?
k -n kafka1 exec -it apicurioregistry-d58b486cc-xwx67 -- sh
/ # curl --silent -X GET localhost:8080/api/ccompat/schemas/types
{"message":"RESTEASY003210: Could not find resource for full path: http://localhost:8080/apis/registry/v1/ccompat/schemas/types","error_code":404}/ #

[2021-06-03 04:54] hudec commented on #1530
I have discovered
curl --silent -X GET localhost:8080/apis/ccompat/v6/config
{"compatibilityLevel":"NONE"}/ #  - what does it mean?

and
curl --silent -X GET localhost:8080/apis/ccompat/v6/schemas/types
["JSON","PROTOBUF","AVRO"]/ #

it seems it works

[2021-06-03 11:30] EricWittmann commented on #1534
This bug has been fixed by this commit:  https://github.com/Apicurio/apicurio-registry/commit/ad6ad31cee6e9ea4ea749f10136d37165a5e8033

It will be fixed in all future releases.  :)

[2021-06-03 11:30] #1534 closed

[2021-06-03 11:49] upvest-juha commented on #1534
That seems to just cut the long field and add ellipsis in the end. It doesn't really help in having that long documentation bit in the description field then does it?

[2021-06-03 11:50] upvest-juha commented on #1534
It should really be as long as it needs be per content.

[2021-06-03 12:01] hudec commented on #1530
At the end - I can see schemas in AKHQ using URL localhost:8080/apis/ccompat/v6
I can't create a new schema using AKHQ nor KSQL.
For example
ksql> CREATE STREAM TEST01 (KEY_COL VARCHAR KEY, COL1 INT, COL2 VARCHAR)

Could not get latest schema for subject test01-value
Caused by: No artifact with ID 'test01-value' in group 'null' was found.; error
	code: 404

and in the KSQL log
[2021-06-03 12:00:28

[2021-06-03 19:27] EricWittmann commented on #1530
@hudec thanks for testing and providing feedback!  The error messages are consistent with those clients trying to consume schemas that don't exist.  Do those clients normally create the schema in the registry first?  If so then I would expect it to work.

@famartinrh or @carlesarnal Any chance you have a few minutes to look at this?

[2021-06-04 09:00] carlesarnal opened #1542 "Investigate if it's possible to override Quarkus behaviour and disable http policies at runtime"

[2021-06-04 10:46] carlesarnal commented on #1542
We will need to test it properly but it's probably possible by disabling authorization at runtime.

[2021-06-08 01:47] Yuutakasan opened #1546 "[question] Does apicurio-registry-sql support mysql?"
I think I can handle it by changing the jdbc driver settings to mysql, but is there any way to write SQL that is not compatible with mysql?

[2021-06-08 10:09] famartinrh commented on #1530
@hudec based on your feedback I think the issue #1007 has been fixed

Now the error you are reporting when using AKHQ or KSQL, looks like a new thing. To not mix things, could you please open a new issue with some more detailed information of your new issue? Thank you :)

Just to clarify, the error `No artifact with ID 'test01-value' in group 'null' was found.; error code: 404` should be normal if

[2021-06-08 10:52] hudec commented on #1530
I think, the problem is incompatibility between Apicurio and Confluent.
The problem is, which return code is used in the case the resource is not found.
Ant the consequence is, if AKHW or KSQL are checking registry before the create
nee schema, they failed
For comparison

curl  -k -D - https://apicurio.rob.i.cz/apis/ccompat/v6/subjects/nvlog-3-value/versions
HTTP/1.1 404 Not Found
Date: Tue, 08 Ju

[2021-06-08 11:10] famartinrh commented on #1530
interesting @carlesarnal is possible confluent api changed error codes?

[2021-06-08 11:46] carlesarnal commented on #1530
No, I don't think they've changed the behaviour. There's probably a mismatch in the error codes being returned by the registry in the error payload, we're returning (I think always) 404 and confluent returns 40401, 40402, 40403 and so on depending on the missing resource. It is not a big deal in regular use cases but it is of course a problem when things like ksql enter the table.

@hudec as @fama

[2021-06-08 11:48] carlesarnal opened #1547 "Mismatch in ccompat mode in error_codes"
There's a mismatch in the error codes being returned by the registry in the error payload in ccompat mode. We're returning 404 but confluent returns 40401, 40402, 40403 and so on depending on the missing resource.

[2021-06-08 11:54] #1530 closed

[2021-06-08 11:56] carlesarnal commented on #1547
cc @hudec

[2021-06-09 01:31] shionefaye opened #1551 "java.lang.StackOverflowError when using recursive reference in combined schema"
Version:  [2.1.0-SNAPSHOT](https://github.com/Apicurio/apicurio-registry/tree/cf0ce8e0ec07b2e6a54e0bd6fd743efdf750206d/schema-compatibility)

Test schema: The following schema used for both original and updated schema
[code]

When check the above schema compatibility with itself, throws `java.lang.StackOverflowError`

[code]

It looks related to the dependency issue: https://github.com/everit-org/

[2021-06-09 14:46] jpechane opened #1552 "ExtJsonConverter throws NPE for null schema/value"
If a message that has no schema/value is passed to the converter then a NPE is thrown. The issue is `io.apicurio.registry.utils.converter.ExtJsonConverter.fromConnectData(String, Headers, Schema, Object)` line `String schemaString = jsonSchema.toString()`

Original Kafka `JsonConverter` supports this scenario.

[2021-06-09 14:50] #1068 closed

[2021-06-10 16:23] #1542 closed

[2021-06-10 18:40] EricWittmann commented on #1546
Registry does not currently support MySQL.  It would not be difficult to add support (most of the existing SQL will work fine against MySQL).

However, note that changing the driver is not enough.  The way Quarkus works it that DB support is determined at build time, not at runtime.  So to do this we would need another builder, where the appropriate changes are made to `application.properties`.  W

[2021-06-10 18:44] #1514 closed

[2021-06-10 20:01] EricWittmann commented on #1552
@carlesarnal or @famartinrh - can one of you guys have a look at this?  Code freeze for 2.0 is Monday, so if this is something we can easily fix we could cherry-pick it for 2.0.x and get it into GA.

[2021-06-10 21:11] EricWittmann commented on #1313
A new UI has been created for MT scenarios:  https://github.com/apicurio/apicurio-registry-mt-ui

[2021-06-10 21:14] EricWittmann commented on #1339
@famartinrh want to mark this as done?  :)

[2021-06-11 04:57] estahn opened #1561 "Image apicurio/apicurio-registry-streams:2.0.0.Final missing"
https://hub.docker.com/r/apicurio/apicurio-registry-streams/tags?page=1&ordering=last_updated&name=2.0.0.Final

[2021-06-11 06:48] carlesarnal commented on #1561
Hi @estahn,

The streams storage has been removed in `2.0.0.Final`. If you want to use Kafka as the storage for the registry you should use the [kafkasql](https://hub.docker.com/r/apicurio/apicurio-registry-kafkasql/tags?page=1&ordering=last_updated) variant.

[2021-06-11 06:49] #1561 closed

[2021-06-11 06:50] carlesarnal commented on #1480
Close by #1482

[2021-06-11 06:50] #1480 closed

[2021-06-11 06:51] carlesarnal commented on #1481
Created in #1482

[2021-06-11 06:51] #1481 closed

[2021-06-11 10:38] famartinrh commented on #1339
@mgvirtzm FYI https://www.apicur.io/blog/2021/06/01/migration-v1-v2

[2021-06-11 10:38] #1339 closed

[2021-06-11 10:48] #1347 closed

[2021-06-11 10:55] #1318 closed

[2021-06-11 14:29] EricWittmann opened #1564 "Improvements to the federated modules"
* Pass config via module property
* Make all federated components .tsx files
* Clean up config - remove unused properties
* Pass full registry API url - no need for :tenantId with replacement
* Stop passing tenantId as property to federated modules
* Auth will be passed in registry UI config as part of (1) - "token" may be the type
  - the getToken function can be passed as an option?
* Move feder

[2021-06-11 16:40] EricWittmann commented on #614
Fixed in https://github.com/Apicurio/apicurio-registry/commit/923237e89c0c455d782b226cb8215b98bf1702ae

[2021-06-11 16:40] #614 closed

[2021-06-14 12:21] EricWittmann opened #1567 "Redirect after deleting an artifact not working (MT only)"
When deleting an artifact in MT mode, the redirect back to the artifact list page is not working.

[2021-06-14 13:38] EricWittmann commented on #1489
Fixed in https://github.com/Apicurio/apicurio-registry/commit/bfd8a3cd1343fc4f8953bbc63b9738a0d608fd97

[2021-06-14 13:38] #1489 closed

[2021-06-14 17:53] EricWittmann commented on #1567
Fixed in https://github.com/Apicurio/apicurio-registry/pull/1570

[2021-06-14 17:53] #1567 closed

[2021-06-14 22:29] blacktooth opened #1572 "Refactor Protobuf schema parsing utilities into separate module"
The Java classes under [serde/protobuf/schema](https://github.com/Apicurio/apicurio-registry/tree/master/serdes/protobuf-serde/src/main/java/io/apicurio/registry/serde/protobuf/schema) are useful for parsing Protobuf schema files (.proto) and can be extracted into a separate module for general reusability. Will you be willing to refactor them into separate module? I can submit a PR with module nam

[2021-06-15 07:39] #1552 closed

[2021-06-15 08:08] tszappanos commented on #1479
@famartinrh , after a deeper analysis, we found that we need to correct the behavior of globalids in the headers. The workaround is not enough. When could this bugfix be ready, please? thanks.

[2021-06-15 13:20] EricWittmann commented on #1572
I don't have any problem refactoring into a separate module.  What do you think @famartinrh ?

[2021-06-15 13:22] EricWittmann commented on #1479
@tszappanos Fabian just submitted a PR to fix this and it has been merged into both `master` and `2.0.x`.  We'll be doing a `2.0.1.Final` release this week (maybe today).  The fix will be in that release.

[2021-06-15 13:23] EricWittmann commented on #1479
Fixed in https://github.com/Apicurio/apicurio-registry/pull/1573

[2021-06-15 13:23] #1479 closed

[2021-06-15 14:10] #1547 closed

[2021-06-15 17:09] EricWittmann opened #1577 "Skip maven deploy for apicurio-registry-utils-exportV1"
Release of 2.0.1.Final failed due to:

![image](https://user-images.githubusercontent.com/1890703/122095038-de3c7200-cdda-11eb-9acb-d54a7976ad6a.png)

I don't think we want to deploy the apicurio-registry-utils-exportV1 module to maven central anyway, so let's fix this by skipping maven deployment for that module.

[2021-06-15 17:23] EricWittmann commented on #1577
Fixed in commit:  https://github.com/Apicurio/apicurio-registry/commit/f80841901b39f669a102f731d045951371c92ae2

[2021-06-15 17:57] EricWittmann commented on #1577
Fixed (?) in https://github.com/Apicurio/apicurio-registry/commit/d1c43856aa50d29e83e78a4eb1dd34ca0ca878a6

[2021-06-15 17:57] #1577 closed

[2021-06-16 05:30] blacktooth commented on #1572
Created a [PR](https://github.com/Apicurio/apicurio-registry/pull/1578) for suggested refactoring.

[2021-06-16 16:46] EricWittmann opened #1585 "Create docker image for V1 export utility"
Right now this is a CLI.  It would be interesting to package it as a docker image.

[2021-06-16 16:46] EricWittmann commented on #1564
Fixed in https://github.com/Apicurio/apicurio-registry/pull/1571

[2021-06-16 16:46] #1564 closed

[2021-06-16 17:14] EricWittmann opened #1586 "Add an option to the build to skip the UI"
We should have an option when building to skip the UI.  We can enable such an option only when building for MT, where we disable/hide the UI anyway.  The default should continue to be what we have today (UI is built by default).

[2021-06-17 13:03] estahn opened #1591 "Allow configuration of consumer group prefix"
I'm trying to set up ACLs for APICurio Registry and would like to limit the access of groups. I believe for this to work a "group prefix" will need to be added here:

https://github.com/Apicurio/apicurio-registry/blob/efe2dfc7f025323f8f0bccac74584f6fe0acb6c8/storage/kafkasql/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlFactory.java#L176

**Current:**
[code]

**Expected:**
[code

[2021-06-17 13:22] jsenko commented on #1551
https://github.com/Apicurio/apicurio-registry/pull/1566

[2021-06-17 13:22] #1551 closed

[2021-06-17 13:46] rmarting opened #1592 "Avro Producer considers "avro.java.string" as part of the schema comparations"
Found `ArtifactNotFoundException` testing a Avro producer integrated with Apicurio registry with the following versions:

- Quarkus 1.13.6.Final
- Apicurio Registry 2.0.1.Final
- Avro 1.10.2

Given the following Avro schema definition registered into the Apicurio Registry:

[code]

A producer application downloads it using the `apicurio-registry-maven-plugin` and generates the Java classes with th

[2021-06-17 13:48] estahn opened #1593 "API ccompat v6 not returning artifact"
I'm trying to configure kowl with APICurio which requires a Confluence Schema Registry compliant API. I see a list of schemas in the kowl UI but I can't access the details. Upon further investigation I found:

Works: https://.../ui/artifacts/test/enrico/versions/latest

Works: https://.../apis/ccompat/v6/subjects
Response: `["enrico"]`

Fails: https://.../apis/ccompat/v6/subjects/enrico/versions/l

[2021-06-17 16:11] EricWittmann commented on #1134
I'm closing this as we have released 2.0.0 and 2.0.1 now without the Kafka Streams storage implementation.  Because we're no longer using Streams, my understanding is that we aren't using transactions and therefore this issue is not relevant.  If I'm wrong we can re-open this!

[2021-06-17 16:11] #1134 closed

[2021-06-18 09:59] carlesarnal opened #1596 "Add security support for tenant manager api"

[2021-06-18 09:59] carlesarnal opened #1597 "Add client credentials flow support for tenant manager client"

[2021-06-18 14:50] dgutzmann opened #1599 "Unable to update OpenAPI Spec using rest api"
**Versions tested:**
2.0.0 and 2.0.1

**Description**
I am unable to use the `?ifExists=UPDATE` query parameter successfully.

**Steps to Reproduce**
Using the petstore spec as an example (downloaded locally) and running the apicurio-registry via: `./mvnw quarkus:dev`

I can successfully upload to the registry once with the following command.
[code]

Trying to upload again (using the same command

[2021-06-21 20:01] EricWittmann commented on #1572
Thanks @blacktooth - I'm once again behind on my GH notifications.  :(  I'll have a look soon.

[2021-06-21 20:36] EricWittmann commented on #1591
I just want to make sure I understand - the issue is that because we use a UUID for the groupId, you cannot use groupId to restrict access to the `kafkasql-journal` topic used by the kafkasql storage implementation to store registry data in Kafka.  Right?

So the suggestion is that we simply prefix that UUID with something (perhaps configurable) like `apicurio-registry-consumer-`.

That's a simple

[2021-06-21 20:49] EricWittmann commented on #1592
First of all, terrific bug report.  Very detailed.  :)

From what I can tell from this explanation, I think the issue is simply that your producer is not configured to find the schema that is pre-registered in the registry.  Clearly the serializer is looking for the schema at `com.redhat.banking.eda.model.events`/`AggregateMetric` (of the form **groupId**/**artifactId**).  Is the artifact actually

[2021-06-21 20:54] EricWittmann commented on #1593
I think the issue here may be that when you registered the artifact, you registered it under the `test` groupId.  Presumably through the UI... I'm guessing based on the URL you provided for "Works:".

However, because Confluent doesn't support artifact groups, you cannot use groups and still use the confluent API.  So try adding the schema *without specifying a groupId* - which will result in the

[2021-06-21 21:01] EricWittmann commented on #1599
This is happening because you are providing a custom Version when creating the artifact.  So the server is trying to use that version number to create a **new** version, but a version already exists with the same value, so you get a primary key violation.  This error should be improved, for sure.  But that's the cause.

You will not be able to use the `ifExists=UPDATE` feature unless you allow the

[2021-06-21 22:40] dgutzmann commented on #1599
I wasn't sure what the expected behaviour of that flag was supposed to be.  My use case was uploading the latest working version of a spec.  I am using `openapi-generator-maven-plugin` to auto generate clients/servers in our needed languages and our versioning scheme follows maven standards of release and snapshot.  I thought I could use the query param `ifExists=UPDATE` to override a snapshot ver

[2021-06-22 06:25] estahn commented on #1591
@EricWittmann Yes, you got it right.

A colleague just pointed me to the fact that I should be able to set this via: `registry.kafkasql.consumer.group.id`

Is there a reason for the UUID generation and not having a static group id?

[2021-06-22 08:25] famartinrh commented on #1592
First of all, same concern as Eric, I don't see how you can get the error `No artifact with ID 'AggregateMetric' in group 'com.redhat.banking.eda.model.events' was found.` , I think you may have configured `apicurio.registry.artifact-resolver-strategy: io.apicurio.registry.serde.avro.strategy.RecordIdStrategy` but didn't show us? otherwise I'll be very confused.

Also, when you configure `auto-reg

[2021-06-22 10:43] #1596 closed

[2021-06-22 10:43] #1597 closed

[2021-06-22 12:17] EricWittmann commented on #1599
OK thanks for the use-case clarification.  You have some options here I think.  Typically snapshot/in-dev resources aren't intended to be pushed to the registry.  So we don't have a "replace" operation, which I think is what would be useful here.  The intent is for artifact versions to be immutable (other than when deleting an entire artifact).  I might recommend using two artifacts - one for the

[2021-06-22 12:27] EricWittmann commented on #1591
At the risk of betraying my limited understanding of Kafka, I will explain.  :)

When running multiple instances of the registry (e.g. for scaling or for HA) we want to make sure that every instance will read/consume every message on the topic.  That is the only way for each instance to have a fully reconstituted state, without missing anything.

My understanding of Kafka is that if consumers are

[2021-06-22 12:29] EricWittmann commented on #1591
So if I've got all that right, you can certainly set the value yourself via the property you mention (or via the equivalent ENV var `REGISTRY_KAFKASQL_CONSUMER_GROUP_ID`).  However, if you're running multiple instances you'll need to set each one to a different value.

[2021-06-22 16:12] pawelrubin commented on #1586
That would be awesome, especially in CI builds.

[2021-06-22 17:57] dgutzmann commented on #1599
Thanks for the suggestion.  I'll play around with that and see if developers even want a `SNAPSHOT` version publishing method set up.  I did play around with the maven plugin as well, thanks for the reminder!

[2021-06-24 05:37] petolexa opened #1603 "alpine image security updates/upgrades"
Hi,

we started to store images in [Harbor](https://goharbor.io/) in our company internally (because k8s clusters do not have externall network access).
And one of Harbor functionalities is, that it scans vulnerabilities. In case of apicurio-registry-kafkasql 2.0.1.Final docker image it means this:
![obrazek](https://user-images.githubusercontent.com/11602126/123091832-191d5600-d42a-11eb-8122-a2c3

[2021-06-24 08:47] rmarting commented on #1592
To demostrate it I updated one of my repositories with the latest version of Strimizi 0.23.0 and Apicurio Registry 2.0.1.

This [branch](https://github.com/rmarting/kafka-clients-quarkus-sample/tree/upgrade-to-kafka-2.7-apicurio-2.0) has an updated version of a Quarkus application to produce and consume Avro-schema messages from a Kafka cluster. You could deploy easily into minikube or CodeReady C

[2021-06-24 13:10] riprasad commented on #1586
@EricWittmann The maven front-end plugins come with options to skip executions. All the available options can be seen here https://github.com/eirslett/frontend-maven-plugin#skipping-execution

In our case, we can use `-Dskip.yarn` and this would skip the execution of yarn commands.

![Screenshot from 2021-06-24 18-38-00](https://user-images.githubusercontent.com/61964599/123268369-983e8700-d51b-11

[2021-06-25 15:22] carlesarnal opened #1610 "The UI is not handling the roles enabled property"

[2021-06-28 10:48] EricWittmann commented on #1610
Does this apply to the new security PR or `master`?

[2021-06-28 10:48] EricWittmann commented on #1610
And can you provide more detail?

[2021-06-28 12:26] EricWittmann commented on #1586
@famartinrh @riprasad - Can we update any registry build for MAS to add this option?  When building in MT mode we can safely disable the UI build.  Doing that should speed the build up a little bit.

[2021-06-28 16:55] riprasad commented on #1586
The only place that I can think of adding this option is in the build-scripts for AppSRE CI jobs.

[2021-06-28 19:10] EricWittmann commented on #1603
You should be fine upgrading.  I do not think we are pinned to a specific version for any reason - likely we just haven't refreshed it since we created the docker image originally.

@riprasad what do you think about upgrading our upstream docker images to some more recent to address CVEs?

[2021-06-28 21:53] EricWittmann commented on #1592
This is an excellent update with information we need to diagnose the issue, thanks @rmarting - we may need a little bit of time to dig into this.  I see that you are using `RecordIdStrategy` which explains part of what we're seeing here.  But I would still need to dig into why it's not using the version you pre-register.  Maybe @famartinrh knows offhand, but I would need to play with it.

[2021-06-29 08:17] carlesarnal commented on #1610
Sorry, this applies to 2.0.1 Final as we discussed with Hugo. We have a property in the backend that enabled/disable role checking but the UI is not aware of that property and if authentication is enabled is looking for roles. With the new proposal and or, I think we can probably close this issue.

[2021-06-29 08:20] carlesarnal opened #1614 "Fix dependantbot"
Dependantbot is not creating the appropriated PRs for the dependencies although we have the configuration files in place. Let's figure out what's happening and fix this.

[2021-06-29 08:34] carlesarnal commented on #1593
For the endpoint looking for a single version of the schema, we're only checking the group null, that's the reason why that endpoint cannot find the schema version.

As a recap, what we might have here is an inconsistency, since in the endpoint of the subject we're returning ALL the subjects, no matter the group and when looking for the single version, we're checking in the group null.

So, as @Er

[2021-06-29 09:32] riprasad commented on #1603
@petolexa You'd be glad to know that we have moved away from using the deprecated image for building our docker images. We now use the base image from the  [Red Hat Container Catalogue](https://catalog.redhat.com/software/containers/search), where images are continuously monitored for health and updates are pushed to address the known vulnerabilities and exposures.

![Screenshot from 2021-06-29 14

[2021-06-29 10:53] petolexa commented on #1603
I [should have linked the code](https://github.com/Apicurio/apicurio-registry/blob/14ddaebb074f2e26a35bdea23a0b96fdf69e122d/distro/docker/src/main/docker/Dockerfile.kafkasql.jvm#L1) in my original message, that shows the image used for this specific 2.0.1.Final version, my bad.

Thank you both for your detailed answers and for positive information.

[2021-06-29 10:53] #1603 closed

[2021-06-29 11:01] EricWittmann commented on #1592
OK @rmarting I had a chance to poke at this this morning.  The reason this is failing is because the default schema resolver couldn't find the pre-registered schema in the registry.  It couldn't find it because there are two ways for the serializer/producer to find the schema:

1) By coordinates (groupId + artifactId + version)
2) By content (groupId + artifactId + shahash(content))

Based on your

[2021-06-29 12:43] riprasad commented on #1603
@petolexa We have upgraded the images for `2.0.1.Final`. Could you update the latest image in Harbour and check the vulnerability severity. I would be particularly interested in knowing what Harbour has to report for these new images.

[2021-06-29 14:37] famartinrh commented on #1586
I'm working on updating the build-scripts for AppSRE to include some more testing, I'll include this in my changes

[2021-06-29 15:21] EricWittmann commented on #1610
OK great - yes the new security approach fixes this issue.  We should leave this open to be fixed in the 2.0.x branch (if possible).

[2021-06-29 15:22] EricWittmann commented on #1593
Agreed - I think we should fix the bug (when listing subjects only show the ones in the null/default group).

[2021-06-29 18:00] #1586 closed

[2021-06-29 23:43] blacktooth opened #1617 "Protobuf schema parser adds `json_name` to all the fields."
Protobuf schema parser method, `fileDescriptorToProtoFile` in [FileDescriptorUtils](https://github.com/Apicurio/apicurio-registry/blob/master/utils/protobuf-schema-utilities/src/main/java/io/apicurio/registry/utils/protobuf/schema/FileDescriptorUtils.java#L442) adds optional `json_name` option to all the fields in the Protobuf schema.

For example, consider the following schema,

[code]

Descripto

[2021-06-30 02:05] blacktooth commented on #1617
PR #1618 created.

[2021-06-30 09:58] petolexa commented on #1603
Hi @riprasad, it seems, that image for 2.0.1.Final in dockerhub is still on alpine - even if I see update from yesterday, if I run the image, I see:
[code]
The size corresponds to alpine as well (cca 160MB comparing to UBI with cca 250MB).

So I tried latest-snapshot image and it shows RedHat:
[code]

I pushed this latest snapshot to our Harbor and it has 0 critical and only 6 High severity issues

[2021-06-30 11:13] EricWittmann opened #1619 "Back-end cannot be properly configured to require authentication without role-based authorization"
There is an option in `application.properties` to disable role based authorization.  However, when RBAC is disabled, authentication is **effectively** also disabled, because even when the OIDC feature of Quarkus is enabled, users are not required to provide credentials.  So in this mode, if a user provides **invalid** credentials, then a request will fail.  However if a user provides **no credenti

[2021-06-30 11:56] rmarting opened #1620 "KafkaProducer is not getting the artifact version defined by `apicurio.registry.artifact.version` property"
My application uses a defined version of artifact already registered in Apicurio Registry, however the producer fails with the following exception:

[code]

To achieve it, my KakfaProducer is configured with the following property:

[code]

The artifact was already registered using the `apicurio-registry-maven-plugin` plug-in as:

[code]

It seems that the client is not using the version declared

[2021-06-30 11:57] rmarting commented on #1592
Thanks @EricWittmann for your complex summary of the root cause of this issue.

After that I am thinking that the best approach is to set up the version when the artifact is registered, and the producer and consumer apps use the right version value. With this approach the applications should work isolated if we are registering new versions of the artifact (automatically or not).

However I was tes

[2021-06-30 17:37] EricWittmann commented on #1617
Fixed in https://github.com/Apicurio/apicurio-registry/pull/1618

[2021-06-30 17:37] #1617 closed

[2021-07-01 19:14] EricWittmann commented on #1620
I should have tested this before suggesting it to you I guess.  There may be a bug in the Serializer - I'll need to reproduce again and try it myself.  The relevant code (if you wanted to debug it yourself) is here:

https://github.com/Apicurio/apicurio-registry/blob/02f0a6ece411a68377b4df4da4459d3ec6557a23/serdes/serde-common/src/main/java/io/apicurio/registry/serde/DefaultSchemaResolver.java#L72

[2021-07-01 19:17] EricWittmann commented on #1592
Yes I think disabling auto-register is definitely the way to go.  And you may be right about there being a bug with `EXPLICIT_ARTIFACT_VERSION`.  I've set aside some time tomorrow to look into it and get back to you.

Note that you only need to worry about the **Serializer** configuration.  The Deserializer always uses the GlobalId of the specific schema in the registry, which is included in the K

[2021-07-02 15:33] EricWittmann commented on #1620
OK as expected this is a bug in the schema resolver config.  The bug is here:

https://github.com/Apicurio/apicurio-registry/blob/master/serdes/serde-common/src/main/java/io/apicurio/registry/serde/AbstractSchemaResolver.java#L120-L127

Simple copy/paste bug. :(

I'll fix the code now but you would need to wait for a new release or build your own locally.

CC @famartinrh

[2021-07-02 15:35] EricWittmann commented on #1620
Fixed in https://github.com/Apicurio/apicurio-registry/commit/85bd4133afa1dafd093f5189298c67f6436bdfa3

[2021-07-02 15:35] #1620 closed

[2021-07-02 19:05] hguerrero opened #1624 "Documentation tab shows blank screen"
When trying to render the documentation for a YAML OpenAPI[1], apicurio renders a white screen.

[1]
[code]

[2021-07-05 07:32] rmarting commented on #1620
Thanks @EricWittmann for fixing it so quickly. I could wait for the next release, but when is it extimated?

[2021-07-06 16:25] kilahm commented on #1534
@upvest-juha - I don't think it should allowed to be arbitrarily long because the artifact and version descriptions are rendered in the registry UI on the artifact list view and the artifact version detail view.  The full contents of the OpenAPI document remain as the artifact content, allowing swagger-ui or ReDoc to render the full description.

One more point here: the registry UI doesn't render

[2021-07-06 16:55] kilahm commented on #1462
This looks to be the same as #1534 .  Seems like it should be "fixed" in 2.0.1.Final from ad6ad31cee6e9ea4ea749f10136d37165a5e8033

[2021-07-06 17:07] kilahm opened #1629 "[enhancement] Allow user defined description when creating an artifact version"
This proposal is an alternative solution to the problems described in #1462 and #1534 .

In brief, the 1024 limit at the DB layer of the description field for artifact versions combined with extracting the description from an uploaded OpenAPI/AsyncAPI document effectively limit the "info.description" field in the actual document.  This was resolved in ad6ad31cee6e9ea4ea749f10136d37165a5e8033 by tr

[2021-07-06 20:56] EricWittmann commented on #1629
Thanks for the request @kilahm - I don't see any reason not to implement optional user-provided descriptions when uploading  a new version.  What about the other meta-data fields users can edit, like name and tags?  Thoughts on allowing header-based values for those as well?

[2021-07-06 23:56] EricWittmann commented on #1620
I don't have a specific date for that yet.  We may release a 2.0.2.Final or we may skip that and go directly for 2.1.0.Final.  I'm leaning towards the former, in which case we could release something pretty soon (releases are cheap).

[2021-07-07 01:23] kilahm commented on #1629
Certainly makes sense to me to allow all editable metadata fields on version creation

[2021-07-08 10:11] SafarMirek commented on #1629
In my opinion, the way to allow users to define all editable metadata fields on new version upload is to allow them provide EditableMetaData object in the headers.

My idea is that EditableMedaData object would be JSON string and Base64 encoded to allow usage of characters which are restricted from headers by HTTP protocol. Header could be `X-Registry-Version-Metadata`.

@EricWittmann Also, implem

[2021-07-08 13:38] famartinrh commented on #1629
I think the idea of having separated headers for each of the various metadata fields is the most reasonable idea.

Encoding `EditableMedaData` as json and then base64 and putting that in a header could cause issues due to header length.

[2021-07-08 14:02] jsenko commented on #1629
I think having it in the form of separate headers is more user friendly (e.g. with `curl`). I don't think we are in danger of violating header length limits (unless the user is trying to break things) https://stackoverflow.com/questions/686217/maximum-on-http-header-values but it seems like an unnecessary uncertainty.

[2021-07-08 14:06] carlesarnal commented on #1629
+1 for having this in separate headers.

[2021-07-08 17:54] EricWittmann commented on #1534
@kilahm and/or @upvest-juha Can one of you add this as a new GH issue so I can flag it as a feature request and we can discuss it there?  We'll need to consider the ramifications of an unbounded description field.

[2021-07-08 17:55] EricWittmann commented on #1462
Thanks @kilahm , closing this now.

[2021-07-08 17:55] #1462 closed

[2021-07-08 19:33] EricWittmann commented on #1629
OK it sounds like most people think that separate headers is the right approach.  Originally that was my thought too, but let me play devil's advocate here for a moment.  Some thoughts:

* There is no length limit for an HTTP header
* HTTP headers only allow ASCII characters, which becomes a challenge for i18n (e.g. a description in Japanese)
* Even if we support separate headers, what do we do fo

[2021-07-08 20:57] kilahm commented on #1629
OpenAPI includes a way to describe serialization of headers. Set the schema to array or object then define the `style` and `explode` keys as appropriate. That should allow generated client code to know how to encode the label list and property key value pairs.

[2021-07-08 22:24] kilahm commented on #1629
I can take a crack at a PR for the changes to the OpenAPI document.  I've been working with some Java projects at work recently, so I might even be able to implement the changes.

[2021-07-08 23:55] SafarMirek commented on #1629
I think, the fact that the HTTP headers allow only ASCII characters could be very limiting for a lot of people around the world.

[2021-07-09 00:26] kilahm commented on #1629
I can think of 2 ways to get non ascii in the description:

1. support punycode in the header values
2. Client can make a normal put to the metadata endpoint (which is currently the case for all clients)

[2021-07-09 08:38] carlesarnal commented on #1629
+1 for separated headers

For me, having very large headers is still a bad idea, whether there are real limits or not. And, although in theory is true that there are no limits for an HTTP header in the spec, in practice, most servers define limits (e.g. Apache define 8K, quite long, but still a limit).

This is true, but we can ask users to encode their values with e.g. base64.

My mind just chang

[2021-07-09 17:24] EricWittmann commented on #1629
Thank you everyone for the excellent discussion on this issue!

It sounds like the consensus is still to use separated headers.  I think I agree with this, because one goal we should have is to make the most likely use-case as simple as possible.  So to that end, here is a proposal:

* `X-Registry-Name` : ASCII-only value of the **name** (subject to maxlength limitations as defined by our DDL)
* `

[2021-07-11 16:36] tillias opened #1659 "Feature request: Autodetect asyncAPI on import and parse title field from document"
Hello guys! Just 2 cents from my side:

1. Autodetect asyncAPI artifact
2. Parse "title" field to extract artifact name

[2021-07-12 00:36] michaelpearce-gain opened #1660 "CCompat Layer the Schema dto is not fully compatible."
Missing two fields in the dto.

  private String schemaType;
  private List<SchemaReference> references;

See:
https://github.com/confluentinc/schema-registry/blob/master/client/src/main/java/io/confluent/kafka/schemaregistry/client/rest/entities/Schema.java

and:
https://github.com/Apicurio/apicurio-registry/blob/master/app/src/main/java/io/apicurio/registry/ccompat/dto/Schema.java

Note this mea

[2021-07-12 08:03] SafarMirek commented on #1624
I found out, that registry wasn't handling YAML files properly if they had been uploaded via chrome browser - then the documentation wasn't working. Is that this case? #1651 should have fix that issue.

[2021-07-12 12:39] SafarMirek commented on #1629
Okey, but there are some questions:
- If we use OAI rules for array encoding in headers, there will be some characters, that users cannot use etc. ; or , or anything we use as delimeter - cookies does not support all ASCII characters for this reasons. We can implement escaping character,  but is it user-friendly?
- This could be solved by using encoded header, but only if we encode every value sep

[2021-07-12 12:45] SafarMirek commented on #1659
I think Registry already has this features.

[2021-07-12 12:50] tillias commented on #1659
I have tried in 2.0.0.Final and it throws unknown artifact type. Also instead of reading title random GUID is used. Please feel free to close if it is already implemented after 2.0.0.Final

[2021-07-12 12:54] SafarMirek commented on #1659
@tillias Have you used the Registry UI? if so, what browser have you used?

[2021-07-12 13:01] tillias commented on #1659
Yes, I used Chrome and Edge

[2021-07-12 13:30] SafarMirek commented on #1659
If you used YAML config I think you had a problem with YAML parsing. It was fixed by #1651 and it will be part of next release. If you can, please try using firefox.

[2021-07-12 22:22] michaelpearce-gain commented on #1660
[apicurio-confluent.zip](https://github.com/Apicurio/apicurio-registry/files/6804713/apicurio-confluent.zip)

Please find attached a very simple test project that demonstrates issue with the missing to fields in ccompact using confluent serdes with protobuf.

[2021-07-12 23:07] michaelpearce-gain commented on #1660
looks like as well apicurio is missing handling the extra fields SchemaString - https://github.com/confluentinc/schema-registry/blob/master/client/src/main/java/io/confluent/kafka/schemaregistry/client/rest/entities/SchemaString.java

[2021-07-12 23:18] michaelpearce-gain commented on #1660
seems you can see most of the changes that were added in 2020 here https://github.com/confluentinc/schema-registry/pull/1280

[2021-07-13 16:07] carlesarnal commented on #1660
Thanks @michaelpearce-gain, I will look into that information, very helpful. As you said, it seems that we have a difference that is not documented in the API reference. For instance, if you go [here](https://docs.confluent.io/platform/current/schema-registry/develop/api.html#get--schemas-ids-int-%20id) or [here](https://docs.confluent.io/platform/current/schema-registry/develop/api.html#post--sub

[2021-07-13 16:08] EricWittmann commented on #1624
@SafarMirek If you can think of a way to gracefully fail when the content is actually invalid, that would be awesome.

[2021-07-13 16:35] #1572 closed

[2021-07-13 17:28] blacktooth opened #1671 "Missing features / bugs with Protobuf schema parser"
I was running some tests on canonicalizing Protobuf schemas and found the following issues. The issues are mostly with the way `FileDescriptorUtils` parses the `FileDescriptorProto` into Proto schema and vice-versa. I baselined the results against the original Proto schema.

**Original Protobuf schema**: [link](https://github.com/blacktooth/apicurio-registry/blob/protobuf-bug-fixes/utils/protobuf-

[2021-07-13 17:41] kallimaniamit opened #1672 "Override default base URL's for accessing Apicurio registry UI"
Subject of the issue
Override default base URL's for accessing Apicurio registry UI I have deployed Apicurio docker image(apicurio/apicurio-registry-sql:2.0.0.Final) with postgres dependency in kubernetes. Currently we access any service deployed in dev kubernetes cluster using this format : "https://services-kube-dev-wdl.ilnx.com/middleware-test-il-apicurio-service/".

After successful deployment

[2021-07-14 12:39] EricWittmann commented on #1629
@SafarMirek I suggest we start out by implementing support for Name and Description.  We can tackle the Labels and Properties as a second PR.  That way we can see how we like this approach and adjust if necessary.

Regarding the precedence - I think we should make the headers mutually exclusive - so if you include both the encoded and unencoded headers we can fail with a 409-Conflict HTTP error.

[2021-07-14 12:39] EricWittmann commented on #1629
Also sorry for the delay in responding here.

[2021-07-14 18:15] EricWittmann commented on #1659
@tillias Can you confirm if it was a YAML or JSON file you were using?

[2021-07-14 18:27] tillias commented on #1659
it was yaml

[2021-07-14 21:17] shuawest opened #4514 "Cannot create custom artifact and schema resolvers from Quarkus based camel-kafka application"
A Quarkus based camel-kafka application runs into classloader errors when trying to specify custom schema and artifact resolvers.

The expected behavior is having classloading handled by the client for quarkus based applications, or a documented set of constraints, or an example for using Quarkus + Camel-Kafka + Apicurio.

[1] Example quarkus camel-kafka application:
https://github.com/shuawest/ap

[2021-07-15 07:22] carlesarnal opened #1675 "Ccompat API is not returning the schemaType when fetching the schema by id"

[2021-07-15 07:24] carlesarnal opened #1676 "Ccompat API is not returning references when fetching a schema by id"
This is part of a larger discussion about supporting references in Apicurio Registry, once we implement that support, we will be able to add it to the compatibility layer.

Related to [this](https://github.com/Apicurio/apicurio-registry/issues/865).

[2021-07-15 07:27] carlesarnal commented on #1660
I have created two new issues to split the work into two separate pull requests. #1676 and #1675. Closing this one in favour of the other two.

[2021-07-15 07:58] michaelpearce-gain commented on #1660
Can we keep this open so we get notified once resolved. Also it be good to include the sample test case we supplied in this issue to confirm resolvement.

[2021-07-15 17:44] #1675 closed

[2021-07-16 13:33] EricWittmann commented on #1672
Oh interesting.  So basically if I'm reading this correctly, you have added a context path.  What happens if you go here:

https://services-kube-dev-wdl.ilnx.com/middleware-test-il-apicurio-service/ui

Does that also redirect you?

[2021-07-16 13:50] EricWittmann commented on #1672
I'm guessing that will not redirect you but will also probably not work.  I think we may be making some strong assumptions about where the UI lives relative to the root context.  This may not work without modifications to the application.

Some details:

### Initial Redirect to /ui
The initial redirect you are hitting comes from here:  https://github.com/Apicurio/apicurio-registry/blob/master/app/

[2021-07-16 15:12] kallimaniamit commented on #1672
Current if I hit this URL : https://services-kube-dev-wdl.ilnx.com/middleware-test-il-apicurio-service/ui, its getting redirected to https://services-kube-dev-wdl.ilnx.com/ui. This redirection is causing the issue. Because for api to be access in kubernetes we have this format https://{hostname}/{namespace}-{servicename}/, after redirection its stripping off {namespace}-{servicename}/ from origina

[2021-07-16 16:27] carlesarnal opened #1684 "Re-use access token in the client credentials flow"
The client credentials flow in our application is not storing the token to re-use it. Let's address that and re-use the token when possible.

[2021-07-16 17:29] EricWittmann commented on #1672
Right, see my analysis in the comment above.  We didn't have any plans to do that before, since this is the first time it's been an issue.  But it seems like a reasonable and easy thing to do.

[2021-07-16 18:09] carlesarnal commented on #1671
Hi @blacktooth,

1. We weren't are of all of them, I will look at them and see if there's any other GH issue opened that is related to the baseline results.
2. No concerns in making this as close as possible to the standard outputs.
3. I will be more than happy to collaborate on this or to help you to go through this. Any specific questions you need help with?

[2021-07-16 18:59] #1684 closed

[2021-07-16 22:41] blacktooth commented on #1671
Thanks! I will be posting PRs for individual bugs from above table.

Separately, Is there a reason why the [Protobuf canonicalizer](https://github.com/Apicurio/apicurio-registry/blob/master/app/src/main/java/io/apicurio/registry/types/provider/ProtobufArtifactTypeUtilProvider.java#L50) is not implemented?

[2021-07-17 14:06] tillias opened #1686 "Allow to upload new version of artifact with compatibility rules enabled."
Hello folks,

I have version 1 of Artifact (JsonSchema) without **timestamp** field. Whenever I activate any compatibility rule and try uploading new version with optional **timestamp** I got exception:

[code]

Here is schema I'm using:

[code]

[2021-07-19 08:57] carlesarnal commented on #1660
Hi @michaelpearce-gain, the first issue is resolved, to return the `schemaType`. The second one, as you can imagine, is a tougher nut to crack since we don't have support for references yet in Apicurio Registry. That said, there are some discussions around implementing it.

See [this](https://github.com/Apicurio/apicurio-registry/issues/865).

[2021-07-19 08:59] carlesarnal commented on #1341
This was solved and can be closed.

[2021-07-19 08:59] #1341 closed

[2021-07-19 09:00] carlesarnal commented on #1614
This has been fixed and can be closed.

[2021-07-19 09:00] #1614 closed

[2021-07-19 09:04] carlesarnal commented on #1671
Great, that works for me, just send the PRs and I will go through them. I don't think there are any open issues directly related to this so if you want to open new issues to keep track of what has been fixed and what not, feel free.

I don't know if there's a specific reason, perhaps @famartinrh knows better.

[2021-07-19 09:34] famartinrh commented on #1671
There is no specific reason why the Protobuf canonicalizer is not implemented

[2021-07-19 20:35] michaelandrepearce commented on #1660
That makes it impossible to adopt / transition to it without. As for protobuf and jsonschema its a real prerequisite, thus why exists in confluents

[2021-07-20 18:12] EricWittmann commented on #1671
The reason is bandwidth - we haven't gotten to it yet.  :) :)

[2021-07-21 07:49] christofluethi opened #1693 "Securing registry with Keycloak with untrusted certificate"
Hi there

I'm currently using `apicurio/apicurio-registry-sql:2.0.1.Final` and try to secure the registry with keycloak.

As our keycloak does not have a trusted certificate we are running in the following stacktrace:

[code]

Used Environment Variables:
[code]

I tried the following without any luck:
- Mounting a configmap with `quarkus.oidc.tls.verification=none` (mountpath: /deployments/config/

[2021-07-21 08:58] carlesarnal commented on #1693
Hi, Quarkus properties will not work since this is something that is happening in a custom controller. You need to import the certificate into the keystore.

If you're running in docker, this is something you can done with something like this:

`USER root
COPY servercert.cer $JAVA_HOME/jre/lib/security
RUN \
    cd $JAVA_HOME/jre/lib/security \
    && keytool -keystore cacerts -storepass yourstore

[2021-07-21 09:01] carlesarnal commented on #1693
If you're using the application without the UI yes, you can customize the roles. If you're using the UI then no, roles are fixed in the UI. We know this is a problem and is something that will be changed in future versions.

[2021-07-22 07:26] christofluethi commented on #1693
Since the certs are provided by the runtime-platform and not at buildtime I added our tuststore.pem to `$JAVA_HOME/lib/security/cacerts` in an initContainer (assuming thats the correct path as $JAVA_HOME/jre does not exist in `apicurio-registry-sql:2.0.1.Final`). However it fails with the same error.

Using `curl --cacert truststore.pem ` works fine and keytool -v -list -cacerts lists the custom c

[2021-07-22 23:34] blacktooth commented on #1671
For issues with incorrect parsing of internal / nested references, I have created an [issue](https://github.com/square/wire/issues/2024) with wire repo.

[2021-07-23 17:08] EricWittmann commented on #1693
The bug where the roles are not customizable is fixed and will be available in a 2.1.x release.  Maybe we need to backport the fix and release `2.0.2.Final` if that bug fix is needed sooner.

[2021-07-23 17:10] EricWittmann commented on #1693
As for the root problem, I would have expected the `-Djavax.net.ssl.trustStore` approach to work.  Are you 100% sure the truststore is mounted and the system property is set?

We would probably need to reproduce this locally to dig into it any further, wdyt @carlesarnal ?

[2021-07-26 08:24] christofluethi commented on #1693
thats good news. is there a release date for the 2.1.x release? For us the renaming of roles is required. Depending on the release date a backport to `2.0.2.Final` would be appreciated.

[2021-07-26 10:57] adiohana opened #1710 "Jsonschema Forward compatibility fails when deleting an optional field"
According to [this](https://docs.confluent.io/platform/current/schema-registry/avro.html#), deleting an optional field is allowed in Forward compatibility.

Having this schema:

[code]

and setting compatibility rule to Forward, and trying to add a new version:

[code]

the compatibility check is failing with error:

[code]

[2021-07-26 11:10] adiohana opened #1711 "Jsonschema compatibility errors list support for allOf"
a while ago I was handling #712 by adding #958 and it doesn't support list of compatibility errors if my schema properties is defined with allOf.
let's say this is my schema:

[code]

and I'm changing the `authId` field name to `authId2` which is an incompatible change.

this is the error message I get:

`{causes: [{description: "COMBINED_TYPE_SUBSCHEMA_NOT_COMPATIBLE", context: ""}],…}
causes: [{

[2021-07-27 14:58] christofluethi commented on #1693
I was able to sort out the certificate issue. root cause was that I directly added the pem to the cacerts which did not add it in a correct way. using `keytool -importkeystore` using a full keystore did the trick.

[2021-07-27 14:58] #1693 closed

[2021-07-28 09:24] christofluethi opened #1718 "Apicurio registry security - basic auth support"
Hi There

Another question related to security with Apicurio `2.0.1.Final`. Our ecosystem will contain applications using different client serializer libs (confluent, apicurio, ...).

What our main goals are:
* Read access: Must be compatible with most client libraries (confluent, apicurio, ...).
* Write access: Should be secured (e.g. RBAC like apicurio registry provides with oauth `sr-admin`, `s

[2021-07-28 11:02] #1624 closed

[2021-07-28 11:23] jsenko opened #1721 "Differing column name in h2 vs. PostgreSQL groups table"
[code]
vs.
[code]

This issue (and a similar one that has been fixed) was found when using `io.apicurio.registry.storage.impl.sql.AbstractSqlRegistryStorage#createGroup`. We should add tests to cover this method as well.

[2021-07-28 13:52] christofluethi commented on #1718
i could remove the authentication using the `quarkus.http.auth.permission.*` properties. they are overridable.

Question remaining is if basic auth is supported in a production env.

[2021-07-28 17:47] EricWittmann commented on #1718
OK I have some relevant new information for you on these questions.  Let's start with the good news.

As of earlier this week, Apicurio Registry supports both OAuth and BASIC auth at the same time.  We have implemented a custom authentication handler that uses OAuth client_credentials flow to support BASIC auth.  In other words, the client can provide BASIC auth credentials, and our server-side cu

[2021-07-28 17:52] EricWittmann commented on #1718
Also I should add that we have not tested any authentication providers other than Keycloak.  That is on our list of things to do - we want to make sure that users aren't required to install Keycloak.  I believe our implementation may be slightly KC specific right now, but actually testing it is required to find that out.

As for BASIC auth I **think** I answered that above but please request clari

[2021-07-28 17:52] EricWittmann commented on #1718
Note:  now is a good time to request improvements to the auth layer.  We can probably react to such requests quickly and then release 2.1.0.Final "soon".

[2021-07-28 18:01] EricWittmann opened #1723 "Evaluate performance of the delete-orphaned-content SQL query"
We have a feature to delete orphaned rows in the `content` table.  The query that does this may be slow.  We should test the query for performance and see if it needs improvement.  If it does, we can either find a better query, or approach the problem differently.  Some possible alternatives to the current approach:

A) Use a SELECT FOR UPDATE query with JOIN to return a set of contentId values.

[2021-07-28 19:13] EricWittmann commented on #1693
Release date for 2.1.0 is "soon".  :)  I'm out on PTO for 2 weeks starting next week - we probably won't get a release done before that, and not sure if we would do one while I'm out.  Maybe.

[2021-07-28 23:53] denisbrodeur opened #1725 "Search on properties not working properly"
Using docker image:
`docker pull apicurio/apicurio-registry-mem:2.0.1.Final`
`docker run -it -p 8080:8080 apicurio/apicurio-registry-mem:2.0.1.Final`

Sample:

http://localhost:8080/apis/registry/v2/groups/default/artifacts/2051.716e6f7b-222b-4406-a1f0-a784d9cdb3cc/meta

{
    "createdBy": "",
    "createdOn": "2021-07-28T22:38:50+0000",
    "modifiedBy": "",
    "modifiedOn": "2021-07-28T22:38:50

[2021-07-29 11:06] christofluethi commented on #1718
first of all thanks to the whole apicurio team for the great work.

indeed, your details are good news.

Yes i'm looking for unauthenticated users to have read access. Using the Quarkus auth permission functionality i could easily achieve this using:

[code]

I'll open a GH issue for this for the new auth layer. I think best would be having a configuration to set if read access must be authenticat

[2021-07-29 12:09] cjshree opened #1731 "apicurio schema registry using GoLang"
I need to connect to apicurio schema registry using GoLang. I tried using Confluent schema Registry GoCode package, but it does not work. How can I make it work. It integrates well with Strimzi Kafka but I am not able to find a solution for referring Schema Registry using GoLang

[2021-07-29 14:15] christofluethi commented on #1718
Another Q that arised. Are the changes mentioned above for the auth layer in the image `quay.io/apicurio/apicurio-registry-sql:latest-snapshot`? If yes, i'll give it a go. Or would you recommend another nightly/snapshot-image or self build?

[2021-07-29 15:35] christofluethi opened #1726 "Unauthenticated Read Access"
Apicurio Registry `2.0.1.Final` is using the Quarkus auth permission functionality. To provide a readonly access for clients one could easily deactivate authentication on specific resources. As an example read access to the APIs could be achieved by setting

[code]

As posted by @EricWittmann here https://github.com/Apicurio/apicurio-registry/issues/1718#issuecomment-888504169_ this is currently n

[2021-07-30 17:31] carlesarnal opened #1732 "Users from other tenants are allowed to access other tenants information"
This was a problem caused by a mismatch in the organization claim.

[2021-07-30 17:32] carlesarnal commented on #1732
cc @b1zzu

[2021-07-30 18:20] EricWittmann commented on #1718
@carlesarnal Interested in your thoughts on this thread.

I have a few thoughts.  If your preferred configuration is an authorization proxy, I wonder if a proxy + mTLS configuration would make sense.  It's not something we've explored, but interesting.

I think the configuration you are asking for should be easy enough to implement.

Finally, yes the new security approach is included in the `lates

[2021-07-30 18:21] EricWittmann commented on #1718
As for the Keycloak question - that's something we want to support but haven't tested yet.  We continue to make progress on security options and that's an area of interest for sure.

[2021-08-02 18:30] bakjos opened #1737 "Protobuf Dependency Management"
I was trying to use a proto file with additional dependencies, the way this is being handled by the Confluent schema registry is to create a subject per external dependency and resolve it when it's being queried.  If I try to do the same using the Apicurio schema registry, the write works well, but when I try to deserialize the data, it fails because it can not resolve one type. I couldn't find a

[2021-08-03 03:41] drnushooz opened #1740 "`DataException: Invalid type for INT64: class java.lang.Integer` on `connect.default` for int64 Avro type"
There is an issue with Avro 1.9+ where if a field of type long has connect.default property, e.g.
[code]
then AvroData.toConnectSchema throws
[code]

[2021-08-03 07:48] KasturiHima opened #1741 "Schema registry failure with artifactId having '-'"
If we have '-' in the artifactId of the schema registry then we are getting below error message
Example: we created schema with artifactId "net-velocity" and tried to consume messages using this artifactId But we are getting the below error.If we replace the artifactId with "netvelocity" we are able to consume the messages.

**Error:**
[code]

**Below is the consumer code:**

[code]

[2021-08-03 09:16] famartinrh opened #1742 "Avro ArtifactType not detected for simple types"
Our artifact type detection logic does not recognize simple avro types as avro schemas, i.e. `"string"`

[2021-08-03 09:17] #1742 closed

[2021-08-03 09:57] #1732 closed

[2021-08-03 19:32] michaelandrepearce commented on #1660
Hi @carlesarnal is there any indication if/when this will be addressed, as its quite a major blocker, and there is clearly prior art to take inspiration from, as the confluent one is working fine and agnostically for json and proto here.

[2021-08-04 07:54] carlesarnal commented on #1660
Hi @michaelandrepearce, this is for sure in our backlog but I don't have a timeframe for the implementation.

[2021-08-04 21:44] drnushooz commented on #1740
@EricWittmann would it be possible to triage this and get it prioritized? This is hindering some functionality on our side.

[2021-08-06 08:06] carlesarnal commented on #1740
Hi @drnushooz, Eric's on PTO, I'll take a look at the linked PR.

[2021-08-06 08:43] carlesarnal commented on #1718
That's possible using Quarkus configuration properties though it's only recommended for testing purposes, see [this](https://quarkus.io/guides/security-testing#configuring-user-information).

In my opinion, for some use cases that are very specific the solution that makes more sense to me is the one that @christofluethi described, having a proxy in from of Apicurio Registry since that will allow u

[2021-08-06 19:09] drnushooz commented on #1740
Thank you.

[2021-08-09 08:33] cjshree commented on #1731
I tried using the Confluent [Golang client for Schema Registry](https://github.com/riferrei/srclient) . It throws a panic error bcoz Confluent and Apicurio uses different link to get the schema registry. Is there a tried and tested GoLang client to connect to Apicurio Schema Registry?
Below is the error
panic: Error creating the schema Post "http://localhost:8080/subjects/myTopic-value/versions":

[2021-08-10 11:07] #1740 closed

[2021-08-10 14:39] christofluethi commented on #1718
Sorry for the late reply. I got the setup working with RBAC on the UI level and BasicAuth on the API level using the `latest-snapshot`. Also the ability to configure the exact role names for admin, developer, readonly made the integration a lot easier.

Two concerns i have about the integration using the client credentials flow. Our KC uses federation to get the users from a central IDM, KC itself

[2021-08-11 19:20] hhkkxxx133 opened #1759 "Missing rules / bugs with Protobuf schema compatibility module"
Looking at the Protobuf documentation of updating a schema for [proto2](https://developers.google.com/protocol-buffers/docs/proto#updating) and [proto3](https://developers.google.com/protocol-buffers/docs/proto3#updating), I notice that the following rules are missing for Protobuf schema compatibility module:

| Rule      | Description |
| ----------- | ----------- |
| Adding non-required field(s)

[2021-08-12 00:25] drnushooz commented on #1740
Is there a tentative schedule for the next maintenance release?

[2021-08-16 03:55] KasturiHima commented on #1741
someone please help on this issue.

[2021-08-16 08:47] carlesarnal commented on #1741
Hi, @KasturiHima if you can provide a small reproducer that would help a lot.

[2021-08-16 08:50] carlesarnal commented on #1741
Also, which version of registry are you using? Your log suggests that you're using an old version of the application.

[2021-08-16 09:48] carlesarnal commented on #1718
I'm a bit lost with the last part about being able to create only one user. Roles should be defined at realm level, then you can create two clients, one for read access and another one for write access with `sr-admin `and `sr-readonly` roles (or the name you gave to those roles in your deployment). With that setup, one service account will be able to only read and the other one will be able to wri

[2021-08-16 10:16] christofluethi commented on #1718
Maybe that was a misunderstanding on my side. Whats `KEYCLOAK_API_CLIENT_ID` used for? My understanding was that this property is defining the client id used for the API access and therefore also limits it to one user for API access. We are mapping federated roles to the clients and are not using realm roles - that worked so far. I'll give it a try and let you know if there are any problems.

[2021-08-16 10:24] carlesarnal commented on #1718
It's used by the API but it does not limit the user that you can use for basic authentication, that client id is used in OIDC to identify the application. Even if you're using federated roles, if they're present in the jwt, it should work fine. If you want, share the payload of an example jwt here and I can help to get that working.

[2021-08-16 16:40] EricWittmann opened #1762 "Add globalId support to UI"
This includes two aspects. The first is to show the global ID in the metadata of the artifact version. The second is to allow searching for an artifact by global ID.

[2021-08-16 18:41] EricWittmann commented on #1741
@KasturiHima what version of registry are you using?  Version 2.0 has been significantly updated in the Serdes area.  The stack trace provided doesn't make sense for 2.0 so I'm guessing you're using an older version?

[2021-08-16 18:43] EricWittmann commented on #1737
Dependencies/references are not currently supported in Apicurio Registry.  This is on our backlog but just not implemented yet.

[2021-08-16 18:44] EricWittmann commented on #1726
@carlesarnal do you have any bandwidth to take a look at this?

[2021-08-16 18:46] EricWittmann commented on #1731
I think the only problem here is that you're using the wrong URL to access the confluent compatibility rest API.  For example when I am using the registry on localhost and I want to use the compatibility API to get a list of subjects I would use the following URL: http://localhost:8080/apis/ccompat/v6/subjects

[2021-08-17 06:16] KasturiHima commented on #1741
we are using version 2.0

[2021-08-17 07:59] carlesarnal commented on #1741
Could you please double check that you’re also using serdes 2.0? The stacktrace contains classes from older versions

[2021-08-17 08:03] carlesarnal commented on #1726
I can take a look but I think this needs proper discussion. With my latest comments on the other issue, I think it should be easy enough to differentiate between write/read access even when using basic auth.

[2021-08-17 08:04] carlesarnal commented on #1762
While I think this makes sense, I think we should also add the contentId since that will be the global id used in the compatibility layer and maybe that can be a bit confusing.

[2021-08-17 10:23] christofluethi commented on #1726
yes, the comments in the issue #1718 by @carlesarnal help a lot.

In cases where authentication is not really needed one would probably end up with creating one user and spread these credentials to every client. as this general user does not really add a lot of security i still think that unauthenticated read access would add some benefit. It would also reduce the read-access runtime dependencies

[2021-08-17 10:55] wtrocki opened #1763 "Error handling should return error codes"
Errors should return human redable message and error code.
Error codes should be documented.

Example errors that should have proper codes:
[code]

Current API Returns java class name and message that cannot be used to determine type of the error.

[2021-08-17 11:34] carlesarnal commented on #1726
if authentication is not really needed why enabling it? In most situations, I assume you would run in a closed network. If authentication is not needed for reading but it's needed for write, I would recommend using a user with a read role. Sorry for being a bit closed mind here but I want to understand a bit better the use case since security is obviously a sensible thing and we're considering ope

[2021-08-17 15:38] wtrocki opened #1764 "Error messages missing artifact and group names"
{"message":"No artifact with ID 'null' in group 'null' was found.","error_code":404,"detail":"io.apicurio.registry.storage.ArtifactNotFoundException: No artifact with ID 'null' in group 'null' was found

[2021-08-17 15:40] wtrocki opened #1765 "DeleteArtifactsInGroup is returning 404 when specified group doesn't have artifacts"
When default group doesn't have artifacts api return 404. There is no error code to handle this case and present proper error to user (no artifacts to delete)

See #1763

[2021-08-18 07:41] cjshree commented on #1731
This is working to some extend..It progressing to the next level . Am I close to ensure Apicurio works with Confluent Go Code?

panic: Error creating the schema 404 Not Found: RESTEASY003210: Could not find resource for full path: http://localhost:8080/apis/ccompat/v6/subjects/subjects/myTopic-value/versions

[2021-08-18 08:31] carlesarnal commented on #1731
That error is normal, the subjects part in the path is duplicated. You need to remove one of them.

[2021-08-18 15:45] ohadpinch opened #1766 "Disable apicurio by topic/class"
Hi,

Is there a way (or interface to implement) to control which records sent by the producer will be serialized with Avro/Apicurio and which will be serialized in other way (for example JSON) -- Mostly preferably via topic name.

I'm trying to avoid 2 different Kafka producers (with different configurations)

Thanks,
Ohad

[2021-08-18 18:35] EricWittmann commented on #1740
Our next upstream release will be 2.1.0.  We'll be able to release that soon.  Perhaps as early as Friday of this week.

[2021-08-20 18:14] EricWittmann commented on #1740
Didn't get a chance to plan and execute the release today - I am optimistic it can be done Monday.

[2021-08-23 08:37] PlugaruT commented on #1718
I hate doing this, but, is there an ETA for the new stable release with the basic auth? We would like to roll the registry in production and are using an nginx proxy with basic auth, but we would like to avoid this if the registry supports this by default.

[2021-08-23 08:51] carlesarnal commented on #1718
Hi @PlugaruT, you can expect an upstream release of 2.1.0 relatively soon, probably this week. @christofluethi my latest comments solved your issues? If so, do you think we can close this?

[2021-08-23 10:59] PlugaruT commented on #1718
@carlesarnal out of curiosity, is there a way to use basic auth for the registry but without using keycloak? I am not able to find into the code how to configure the registry to have a user and a password configured.
I want to achieve the same thing as using nginx proxy.
Thanks

[2021-08-23 12:00] carlesarnal commented on #1718
Not really, that can be achieved using a custom build but it's not supported out of the box.

[2021-08-23 14:43] EricWittmann commented on #1726
I can see an argument for allowing unauthenticated reads.  For example, if all Kafka schemas need to be pre-registered (e.g. by a CI/CD process) and approved by some admin user before they get registered, then you have authenticated users always doing the write operations.  Then you may have **many** Kafka applications needing read-only access to the registry in order to produce/consume messages.

[2021-08-23 14:44] EricWittmann commented on #1764
Can you tell me what operation caused this error?

[2021-08-23 14:48] EricWittmann commented on #1731
@carlesarnal is correct - the URL I indicated above was to the `/subjects` endpoint in the confluent compatibility API.  Useful for `curl` or Postman to do a GET.  But if you're using a Confluent compatible client, you'll want to configure that client with a URL like this:

http://localhost:8080/apis/ccompat/v6

[2021-08-23 14:49] EricWittmann commented on #1731
That should definitely work - I'm going to close this but **please** re-open it if things still don't work right!

[2021-08-23 14:49] #1731 closed

[2021-08-23 14:53] EricWittmann commented on #1766
I think to accomplish this you will need to implement your own SerDes classes.  The Apicurio-provided classes assume that all messages will be serialized/deserialized using the same technology (avro, protobuf, etc).

If you want to create custom SerDes classes and also integrate them with Apicurio Registry, you can use the Apicurio Registry REST Client.  The latest version of that can be found her

[2021-08-23 15:18] wtrocki commented on #1764
Fetching artifact that is missing (wrong artifact-id).
Fetching group that doesn't exist

[2021-08-23 15:26] EricWittmann commented on #1718
We are in the process of testing using a non-Keycloak solution for auth (e.g. Auth0) but don't have results on that yet.  The goal is hopefully to support any OpenID Connect solution.  But it's unclear how easy that will be. :)

[2021-08-23 16:24] ohadpinch commented on #1766
Thanks for the answer!
Just to be more precise, the custom SerDes not needed in the registry.

[2021-08-23 16:58] EricWittmann opened #1773 "Duplicate REST client exception classes?"
Currently we have these two:

* `io.apicurio.registry.rest.client.exception.NotAuthorizedException`
* `io.apicurio.rest.client.auth.exception.NotAuthorizedException`

Not sure if we need both.

[2021-08-23 17:24] EricWittmann opened #1777 "Delete artifacts in Group fails with ArtifactNotFound"
When deleting all artifacts in a group, the operation will fail if there aren't any artifacts, or if the group doesn't exist.  Worse, it fails with `ArtifactNotFoundException`.  I think the operation should succeed.

@Apicurio/developers thoughts?

[2021-08-23 17:28] EricWittmann commented on #1764
I have not been able to reproduce this when trying to fetch an artifact that is missing or when "fetching a group that doesn't exist".  I'm assuming by the latter you mean "fetching all artifacts in a missing group".

I was able to get an error when trying to **delete** all artifacts in a group when the group doesn't exist.  I've created another ticket for that:

https://github.com/Apicurio/apicur

[2021-08-23 19:12] #1773 closed

[2021-08-24 09:22] carlesarnal commented on #1726
I don't see why this is an argument for unauthenticated since as you said, you can configure read-only users with credentials. Even for CI/CD processes I still think that if auth is enabled, every access should be secure.

This is probably a good use case for this but I still think this can be addressed properly from a security POV by e.g. adding basic creds to the URL.

As I said in my previous c

[2021-08-24 10:22] carlesarnal opened #1779 "Stop spawning Keycloak servers for unit tests"
We should start using Keycloak mocks instead of starting Keycloak servers for unit testing. Keycloak servers should be used only for integration tests.

[2021-08-24 13:03] #1726 closed

[2021-08-24 13:27] christofluethi commented on #1718
@carlesarnal I can confirm that i was able to test the basic-auth login with multiple clientids. i did not yet test different role mappings for the clients, but as it was working for one clientId i do not expect any issues here. I agree, we can close the issue.

@EricWittmann is there an issue for testing Apicurio Registry with other OIDC providers? I would like to track this as this would be high

[2021-08-24 14:05] EricWittmann commented on #1726
@carlesarnal I appreciate your preference to keep security actually as secure as possible.  :)  Definitely keep advocating for that!  In this case I'm going to give the feature a try and see how it's received in the community.  It will be a feature that is off by default, of course.  And the implementation doesn't complicate the authorization interceptor very much (I think it may actually have cla

[2021-08-24 14:07] EricWittmann commented on #1619
This has been fixed as part of an overhaul to our authorization implementation.  Now it is possible to enable authentication without requiring any sort of authorization.

[2021-08-24 14:07] #1619 closed

[2021-08-24 14:20] EricWittmann commented on #1718
@carlesarnal Do we have a GH issue for non-Keycloak auth server support?  I thought we did but couldn't find one.

[2021-08-24 14:20] #1718 closed

[2021-08-24 14:22] EricWittmann commented on #1777
Duplicate of https://github.com/Apicurio/apicurio-registry/issues/1765

[2021-08-24 14:22] #1777 closed

[2021-08-24 14:39] carlesarnal commented on #1718
No, I think we don't, it's for sure present in my personal Kanban board but I don't think we have a GH issue, I'll create one.

[2021-08-24 14:40] carlesarnal opened #1781 "Test application with different OIDC providers"
We have tested support for Keycloak. Now it's time to also test the application with other OIDC providers.

[2021-08-24 17:24] EricWittmann commented on #1740
OK we've done a release of 2.1.0.RC1 - this is a release candidate.  We would very much appreciate it if interested parties could give it a try and give us your feedback.

[2021-08-24 18:45] EricWittmann opened #1782 "Add another admin-override option: regexp to match principal"
It might be useful to have another admin-override feature in the auth layer that allows the configuration of a Regular Expression to match the name of a principal.  For example, the admin override could be a regular express like `admin(.*)` which would cause any user with a principal name starting with `admin` to be give admin privileges.

[2021-08-24 20:31] jbadeau opened #1783 "Spark schema support"
Hello,

Are there any plans to support Spark schemas?

Cheers

[2021-08-25 16:40] drnushooz commented on #1740
Thanks, I will pull this release into our staging environment and test it.

[2021-08-27 07:52] rmarting opened #1787 "Different artifact's content after registering an AsyncAPI definition"
I found that registering the same API schema, in my case an AsyncAPI sample, the results are not the same. The results depend of the method you used to register the API, somecases successfully and in others not.

To give a successful behaviour to the user, each case must work exactly and produce the same results, otherwise it could produce errors for third-party getting the artifact's content.

##

[2021-08-27 08:06] rmarting opened #1788 "Use the attribute `version` of the specification to register an artifact by UI"
Many API specifications includes a `version` property (e.g. OpenAPI, AsyncAPI). That property helps to identify the API version to others and it helps to identify changes between versions.

AsyncAPI Sample:

[code]

OpenApi Sample

[code]

It could be a great feature to use that property from the API spec to define the version of the artifact when it is uploaded using the UI, as similar with the a

[2021-08-27 14:53] EricWittmann opened #1794 "Allow searching for artifacts by globalId"
It would be nice, in the UI, to have some way to navigate to an artifact version by globalId.  We probably don't want to support searching for artifacts by globalId in the main search area.  Perhaps a separate user interaction - some action like "Lookup by GlobalId" or some such.

[2021-08-30 10:19] rmarting commented on #1788
IMHO, if the content of an API definition changes but the not version # represents a bad practice in the API management. If you do that then third-party will not follow up in a right way.

The only scenario that it could be aligned with that practice is when you are publishing for the first time your API schema but it is something in developing and not published to others. It could make sense if y

[2021-08-30 14:52] EricWittmann commented on #1787
Thank you for the detailed report!  We definitely have some issues with YAML files vs. JSON formatted files.  This is something that needs more extensive testing and you've done a nice job here to get us started.  I don't have anything to add right now - I will need to dig into it and do some of my own testing.

I wonder if perhaps @SafarMirek has any insights into this?

[2021-08-30 14:53] EricWittmann commented on #1764
@wtrocki can you provide more info?  See my followup notes.

[2021-08-30 15:02] wtrocki commented on #1764
Actually, I cannot reproduce artifact being null anymore but can do group:

[code]

Request

[code]

[2021-08-30 15:30] rmarting commented on #1787
As you said, it seems that not everything is working find with YAML and JSON files, and Apicurio Registry needs to invest and improve it soon. Many different API schemas and two different formats to cover everything ... it sounds not easy. Maybe the solution could be aligned to avoid any kind of reformatting process between YAML or JSON and manage the data as is (or as is provided by the user by U

[2021-08-30 15:38] EricWittmann opened #1796 "Unsupported operation in OIDC http client"
When running the registry in multi-tenant mode, the tenant manager client fails when not properly configured.  That part is fine, but it fails with an `UnsupportedOperationException`.

[code]

In this case, the root error is this:

[code]

But it seems to me that there is an unhandled path, since we should never throw `UnsupportedOperationException` even under a mis-configuration... IMO.

[2021-08-30 15:46] EricWittmann opened #1797 "Tenant Manager: is RegistryDeploymentInfoService needed?"
This service requires a property called `registry.route.url` that has no default value.  Tenant Manager will not start up with out.  The health check service seems to use this information.

However this seems to introduce a dependency from Tenant Manager -> Service Registry.  I don't think we want that.  Is this perhaps a leftover from an earlier architecture choice related to registry instance re

[2021-08-31 11:14] SafarMirek commented on #1787
Currently, Registry is designed in way that it should always convert yaml into json and UI assumes that, so that's the reason why documentation tab does not work for you in case 1.
There is probably a problem with maven plugin which does not set content type of http request to YAML.

@rmarting I think if you enabled global validation you would not be able to create that artifact with maven plugin.

[2021-08-31 17:21] rmarting commented on #1787
@SafarMirek you are right, if I am enabled global validacion (validation rule - full) then Apicurio Maven Plug-In fails with the following exception:

[code]

With that validation rule enabled I could avoid to upload API definitions not-compliant with Apicuiro, however I got other issue: I have to transform my YAML API definitions to other valid for Apicurio (in our case using JSON). In that case

[2021-08-31 17:32] EricWittmann commented on #1740
I will be **very** interested in your experience, since this is a minor release with some non-trivial changes.  Nothing should be breaking, but we may have messed up somewhere along the way.  Please report back with any issues and we'll get them fixed before `2.1.0.Final`.

[2021-08-31 17:43] SafarMirek commented on #1787
@rmarting Thanks for testing it.
Yeah, it's a bug in maven plugin and it needs to be fixed. Maven plugin should work same way as the UI.

I will look at it.

[2021-08-31 23:39] RoopGuron opened #1801 "UI is trying to use keycloak as openid provider inspite of configuration to not do that"
Hi,
    I am building and running **apicurio-registry** using the following commands:

[code]

 with the **app** application properties as follows:

[code]

As you can see I am not using keycloak but OKTA.
But the UI code tries to use keycloak as can be seen from the code here:
https://github.com/Apicurio/apicurio-registry/blob/637b504cd06f39f1e96c91a78429f92ecc14bfc0/ui/src/services/config/config

[2021-09-02 13:33] SafarMirek commented on #1787
@rmarting Hi, can you try your tests with my pull request?
Thanks

[2021-09-02 14:58] rmarting commented on #1787
@SafarMirek I built and installed locally your branch into my local Maven Repository as 2.1.0-SNAPSHOT to test and verify the Maven plugin. I also deployed the local instance of Apicuiro using your branch and the command `quarkus:dev`.

My test results are:

* Disabled Global Validation Rules: API-YAML definitions are registered but the content in Apicurio Registry are still YAML.
* Enabled Global

[2021-09-02 15:22] famartinrh commented on #1797
the dependency tenant manager -> service registry exists because in some tenant manager API endpoints it returns the full url of the tenant, and for that we need the registry route url

however we may not be using that information and building the tenant url by  hand in our control plane instead of taking what the tenant manager returns, so we could drop this dependency, wdyt?

[2021-09-02 20:54] tjsiron opened #1806 "ExportV1 Util Crashes When Attempting to Export"
Hello!

I'm trying to follow the migration path from 1.3 to 2.0 and exporting my schemas to a zip. The utility provided worked on a local version of apicurio's registry, but when I tried to point it at our developer instance it immediately breaks and reports the below error. I'm not a java developer by trade so I'm a little lost on what it's trying to do, but I'm guessing it's missing a dependency

[2021-09-03 13:52] EricWittmann commented on #1806
Ugh.  JAX-RS provider classloading issue.  @famartinrh any ideas here?

@tjsiron Some questions:

1. What version of Java did you use to run the tool?
2. Did you use the same Java environment when you ran the tool each time?

[2021-09-03 14:37] EricWittmann commented on #1797
I would really like to avoid a tenant manager -> service registry link if we can avoid it.  However, if it's just configuration information then it could make sense.  In this case it seems like it is.  This may be even more useful when running Registry and Tenant Manager without a separate control plane.  We should decide how we expect users to run this stuff upstream... do we imagine they will cr

[2021-09-03 16:51] #1762 closed

[2021-09-06 07:54] tomasAlabes opened #1807 "Security: Netty vulnerabilities"
Apicurio `v2.1.0.RC1` (and before) is using netty libraries with version `4.1.49.Final`, which have some vulnerabilities reported: https://www.cvedetails.com/vulnerability-list/vendor_id-20711/product_id-60533/Netty-Netty.html

https://www.cvedetails.com/cve/CVE-2021-21290/
https://www.cvedetails.com/cve/CVE-2021-21295/
https://www.cvedetails.com/cve/CVE-2021-21409/

The dependency has to be upgra

[2021-09-06 07:58] tomasAlabes opened #1808 "Security: Resteasy vulnerabilities"
Apicurio `v2.1.0.RC1` (and before) is using resteasy libraries with version `4.5.9.Final`, which have some vulnerabilities reported: https://www.cvedetails.com/vulnerability-list/vendor_id-25/product_id-23627/Redhat-Resteasy.html

https://www.cvedetails.com/cve/CVE-2021-20293/
https://www.cvedetails.com/cve/CVE-2021-20289/

The dependency has to be upgraded to `4.6.0.Final`.

If `quarkus` gets upd

[2021-09-06 11:22] csierraf opened #1809 "Debezium CDC with Apicurio Schema Registry (PoC)"
Hello

I am creating a proof of concept using apicurio schema registry (JPA) and debezium CDC docker images.

I have:
   1.- zookeeper configured
   2.- kafka configured
   3.- mysql configured
   4.- postgres for apicurio regstry jpa
   5.- debezium connect for mysql
   6.- apicurio registry jpa

All these dockers are up and running successfully.

I have created a mysql database and automatically

[2021-09-06 14:42] famartinrh commented on #1806
if you haven't tried the latest released version of the export utility I would suggest trying it https://github.com/Apicurio/apicurio-registry/releases/tag/2.0.1.Final

[2021-09-06 14:50] famartinrh commented on #1797
actually, reviewing the code again, the registry.route.url property is used for the liveness check and for an API endpoint that is not even used in our rest client...

in short, we could perfectly remove the registry.route.url and drop the tenant manager -> service registry link with no issues

about running this stuff upstream you already have the answer, the multitenant UI you built, actually th

[2021-09-06 19:04] einarjohnson commented on #1737
@EricWittmann , do you have a rough ETA on when this may be implemented? I am currently working on a large project where we use Protobuf to define events posted to our Kafka infrastructure. All the Protobuf schemas are using imports for code re-usability and we have been looking into adopting the Apicurio Registry. This is a must-have feature for us to proceed.

[2021-09-07 17:03] EricWittmann commented on #1801
Hi @RoopGuron - you are right that the UI is currently implemented using KeycloakJS as the authentication framework.  We have an outstanding task around testing with a non-Keycloak idp.  We haven't completed this work yet, and so haven't fixed all the issues.  That includes this UI issue.

We will need to investigate how to secure the UI using a more generic OpenID connect UI framework.  That work

[2021-09-07 17:11] EricWittmann opened #1813 "Support per-tenant globalId and (possibly) contentId"
Right now we use a single DB sequence for each of the `contentId` and `globalId` for an artifact version.  This is fine in a single-tenant solution, but it has some problems with a multi-tenant deployment.

* Import/Export likely will not work properly because the import process tries to preserve contentId and globalId (since these IDs may be used in existing Kafka messages or other runtime use-ca

[2021-09-07 18:56] PlugaruT commented on #733
@forsberg How did you managed to use the `config/application.properties` file? Where should be located in the container?
I'm also trying to do that but with no luck, see #1805

[2021-09-08 05:39] forsberg commented on #733
@PlugaruT - this was a long time ago, and I'm not actively using Apicurio anymore, but digging into my chart it looks like I have a configmap with the `application.properties` as key, and I mount it under `/deployments/config`, but that's probably as much information I have for you.

Reading [Quarkus Configuration Reference](https://quarkus.io/guides/config-reference) this seems valid if we assume

[2021-09-08 06:13] PlugaruT commented on #733
@forsberg that's the thing, I am mounting it in `$PWD/config/application.properties` which is `/home/jboss/config/application.properties` and Quarkus won't pick it up.

Anyway, thanks for the help. Appreciate it.

[2021-09-08 06:29] forsberg commented on #733
@PlugaruT - glad you made it work! :+1:

As a general observation, sometimes having a look at `/proc/<pid>` to see where `/proc/<pid>/pwd` points to can be enlightening when it comes to the *real* working directory of a program.

[2021-09-08 16:13] dlabaj opened #1821 "Feat: Add i18n to apicurio registry"
Add i18n to apicruio registry to support multiple languages.

[2021-09-08 16:14] dlabaj commented on #1821
Currently the plan is to add https://react.i18next.com/ to support i18n.

[2021-09-09 12:38] tomasAlabes commented on #1153
Hi @alesj, sorry for not answering. I'm back trying to update the registry to 2.x and my tests broke because of the change of interfaces. That reminded me of this.
Do you have a snapshot/test jar that I could try an test replacing our `MockApicurioRegistryClient`?

[2021-09-09 17:06] drnushooz opened #1825 "Type coercion based on schema data type rather than value for INT64"
I have been experimenting with the 2.1.0.RC1 release and noticed an issue with Avro to Connect data conversion. We have a use case to convert JSON data with `long` values in the payload. This data gets received by Kafka and we use Talend's [Diakon](https://github.com/Talend/daikon) library to infer the schema dynamically. Diakon uses Jackson internally to deserialize JSON. Some of the attributes i

[2021-09-09 18:23] EricWittmann commented on #1813
@famartinrh contributed a good additional idea about how to have per-tenant contentIds but still have only a single row in the content table for each unique file.  The idea is to have another table that would have a mapping between the content table and the artifact_versions table - so the contentId would relocate to the new table and be a pointer to the content table.  The new table would have a

[2021-09-10 11:06] csierraf commented on #1809
Note: I am using a particular account for this issue because my red hat account (carlos.de.prada@accentue.com) cannot access to this project.

[2021-09-10 13:03] SafarMirek commented on #1787
@rmarting I have tested it with the current version of my PR and it looks it works,  but you are free to test it out if you want.

[2021-09-10 16:13] EricWittmann opened #1829 "Add Sentry support"
https://lordofthejars.github.io/quarkus-cheat-sheet/#_sentry

[2021-09-10 16:13] EricWittmann commented on #1829
Should add to both tenant manager and registry.

[2021-09-10 16:53] drnushooz commented on #1825
@carlesarnal @EricWittmann Can someone please take a look at this? It possible, I'd like to get this into 2.1.0. Thanks!

[2021-09-13 08:55] carlesarnal commented on #1809
Hi @csierraf `apicurio/apicurio-registry-jpa` has been removed and replaced by `apicurio/apicurio-registry-sql` in 2.0. Can you give that a try?

Thanks!

[2021-09-13 09:08] carlesarnal commented on #1796
I used the `UnsupportedOperationException` because all the auth related errors in the AuthErrorHandler should be processed using a different method. Possibly not the best choice...

[2021-09-13 13:06] csierraf commented on #1809
Ok, I will try it.

Thanks

[2021-09-13 14:32] pjgg opened #1838 "Does Apicurio support Java 17"
### Questions

Java 17 (LTS) will be released [soon](https://openjdk.java.net/projects/jdk/17/), do you know if apicurio-registry is supported under this JDK version.

[2021-09-13 17:03] drnushooz commented on #1825
Thank you for taking in the fix. You all rock :) 👍

[2021-09-13 17:03] #1825 closed

[2021-09-13 21:49] shionefaye commented on #1441
Hi jsenko,

May I ask what is the priority of this feature in your backlog? I really hope to use this feature in our software.

Regards,
Fei

[2021-09-14 16:45] EricWittmann commented on #1629
@SafarMirek Can this be closed, do you think?

[2021-09-14 17:00] EricWittmann opened #1843 "Improved/persistent support for artifact content-type"
Currently we only track the `ArtifactType` when an artifact is created or updated.  This has led us to a hack to support both JSON and YAML formats for relevant types like OpenAPI and AsyncAPI.  The hack is that we automatically convert YAML to JSON on the way in.  If the user gives the serve YAML content, we'll convert it to JSON before storing it in the DB.  That's not good.

To fix this, we nee

[2021-09-16 10:15] SafarMirek commented on #1843
A few questions:

I would consider this a breaking change. Is it a good idea?

Per artifact type - what do you mean by this? Shouldn't it be per artifact version content type?

[2021-09-16 23:32] drnushooz commented on #1825
@EricWittmann Is there an ETA for RC2 for 2.1.0? I would like to take it for a spin.

[2021-09-17 03:40] RoopGuron commented on #1801
Hi @EricWittmann,
   Apologize for the delay in responding back.
   Let me think...

   The architecture of the _**apicurio-registry**_ Please correct if my understanding is misplaced:

      UI is a **React App** and J**ava Quarkus Web Server**.

      You do have on the server side authentication apis with capabilities to initiate OAuth2.0/OpenID Connect Flows.

     You need to ensure [_Authori

[2021-09-17 04:11] shrinanda opened #1853 "Time out waiting for node assignment"
Hi ,

I am trying to deploy the APICURIO registry using kafka bootstrap server on EKS. I am getting error on " time out waiting for node assignment". Please help me with resolution.
[apicurio-registry-kafka-integration-log.txt]
(https://github.com/Apicurio/apicurio-registry/files/7182559/apicurio-registry-kafka-integration-log.txt)

Added kafka bootstrap server details on values.yaml like
uncommen

[2021-09-17 08:49] carlesarnal commented on #1801
Hi @RoopGuron,

your understanding is correct. As Eric's says, right now the UI is using `keycloakjs` for the authentication so it's not possible to use anything else but Keycloak. That said, it's on our backlog to address that so users are able to use any other OIDC provider.

In response to your last comment, Quarkus has a nice set of capabilities in the security area. They're not bundled as a s

[2021-09-17 09:31] paoloantinori opened #1854 "Document structure of the input file for the Import operation"
Use case:

Batch import data that does not come from an export operation.

Todo:

Document the structure of the `.zip` file that the `import` endpoint expects in input, so that external integrator could produce it offline and feed it to a SR instance.

[2021-09-17 14:32] EricWittmann opened #1856 "Upgrade two dependencies and release 2.0.2.Final"
The following dependencies should be upgraded:

* org.apache.commons:commons-compress
* org.keycloak:keycloak-core

The commons-compress version should be upgraded to 1.21.

The keycloak-core version should be upgraded to 13.0.0.

These changes should be made on the `2.0.x` branch.  Once done we should release `2.0.2.Final`.

[2021-09-17 16:53] EricWittmann commented on #1788
This makes sense, yes.  Esp. for registry (which in my view is a place to register only those artifacts that represent what has been deployed) I think we could just fail in my scenario above.  Patch releases can be used for iterative development (e.g. when using the registry in a DEV environment).

[2021-09-17 18:41] EricWittmann commented on #1806
@tjsiron Any updates/progress on this?

[2021-09-17 18:42] EricWittmann commented on #1737
I'm sorry to say I don't have a timeframe for this - it's high on our backlog but not yet addressed.  Other priorities are preventing this.

@carlesarnal this is a part of the ref work. :)

[2021-09-17 21:45] einarjohnson commented on #1737
ok, thanks for getting back to me @EricWittmann

[2021-09-20 06:55] riprasad commented on #1856
Project already uses `org.keycloak:keycloak-core:13.0.0`
upgraded dependency `org.apache.commons:commons-compress` to `1.21`

[2021-09-20 20:13] EricWittmann commented on #1153
I think the easiest/best approach is probably still testcontainers with https://hub.docker.com/r/apicurio/apicurio-registry-mem

That should be a relatively quick docker image to start, but I do agree that some in-memory mock would be faster.

@famartinrh any other suggestions?

[2021-09-20 20:22] EricWittmann commented on #1838
Apicurio Registry is untested against Java 17.

@Apicurio/developers anyone interested in giving this a try?

[2021-09-20 20:28] EricWittmann commented on #733
Note to @jsenko and @carlesarnal

[2021-09-20 21:56] EricWittmann commented on #1843
Failing inbound requests when no Content-Type is provided is probably already implemented.  I think the server will not route to one of our operation endpoints if the input doesn't match what's declared in the code.

What I mean is that wherever we have code that parses the input, we likely assume a content-type.  So when parsing an Avro input, we assume the content is Avro/JSON.  For OpenAPI and

[2021-09-20 21:59] EricWittmann commented on #1853
It looks like Registry couldn't reach your kafka cluster.  It's failing trying to create the topic it needs.  Are you sure the kafka cluster is accessible from the registry node?

[2021-09-21 05:57] shrinanda commented on #1853
When i disable the authentication using same bootstrap server, i am able to deploy without any issue which means server accessible.
"kafka:
   # authorization:
   #   type: simple

[2021-09-21 06:44] carlesarnal commented on #1838
I can test this.

[2021-09-21 07:01] famartinrh commented on #1153
The only things I can think of are:
- testcontainers
- creating an embedded version as Ales did
- writing a junit extension to run with `java -jar ...` the in-memory version

[2021-09-22 20:19] EricWittmann commented on #1856
@riprasad I think we have a KC 12 dependency in tests somewhere maybe?  @carlesarnal if that's true can we upgrade it to 13 for the tests or not?

[2021-09-22 20:22] EricWittmann commented on #1853
OK so you're saying it's an authorization issue?  You could try manually creating the required Kafka topic before starting up the server.

[2021-09-22 22:12] #1787 closed

[2021-09-23 08:45] riprasad commented on #1856
@EricWittmann I just checked and cannot find any dependency with version `kc-12*`, @carlesarnal can confirm as well

[2021-09-23 12:14] nehasewda opened #1871 "Apicurio APIs for schema registry client not working."
I want to use Apicurio's API and methods like client.listArtifacts(), client.getArtifactByGlobalId(X), createArtifact(),etc.
I have followed all the given official documents and included all the required configuration setup but still not able to use the above mentioned methods in my kafka streams application.

Please find the sample code used -
[code]

In response to above statements, I am getting

[2021-09-23 23:10] JoshVee opened #1873 "The KafkaSql storage throws exception when querying contentIdFromHash: `Expected one element, but found none`"
[code]

[2021-09-24 09:48] janvyhnanek opened #1874 "Apicurio/confluent compatibility issues"
I have a question about compatibility between apicurio and confluent ser/des clients.

If an application is written in C# it has to use confluent client since apicurio does not provide such feature. It is possible to make it working with producer on apicurio if producer sets properties apicurio.registry.as-confluent=true, apicurio.registry.use-id=contentId and apicurio.registry.headers.enabled=fal

[2021-09-24 16:07] EricWittmann commented on #1441
@jsenko thoughts on this?  I thought we had already made some progress/improvements on this.

[2021-09-24 16:57] EricWittmann commented on #1873
Do you have any other context to this?  Any steps to reproduce?  Or does it just always happen for you?  This looks like it's trying to create an artifact, right?  How did you create the artifact?  UI?  SerDes?   API?  Maven plugin?  Any other information you can provide would be helpful.

[2021-09-24 17:16] EricWittmann commented on #1874
I think you are exactly right unless you are willing to write your own custom SerDes in C#.  Certainly it would be great if we had the bandwidth to implement C# and Python SerDes.  That's the situation right now at least.  Some issues could be resolved perhaps with a proxy between the confluent client and the registry, where the proxy could utilize the registry API instead of the ccompat API and e

[2021-09-24 17:16] EricWittmann commented on #1874
Other ideas @Apicurio/developers ?

[2021-09-24 17:22] EricWittmann commented on #1871
Can you provide any details about the exception?  I think it should have something extra - a status code or the response object or something.  That should tell us a lot more.

[2021-09-24 17:23] EricWittmann commented on #1856
OK my mistake, thanks @riprasad

[2021-09-24 17:24] #1856 closed

[2021-09-24 17:38] EricWittmann commented on #1801
But the real trick is how to implement auth in the **user interface**.  There are a few ways that can be done, including handling it on the server (before actually serving the JS files) or handling it in the UI app.  We are using keycloakjs to do the latter.  I'm not aware of any other JS libraries that could provide similar functionality, or whether perhaps keycloakjs is capable of working with o

[2021-09-25 14:02] nehasewda commented on #1871
Hi,

This is working fine after few changes.

[2021-09-25 14:02] #1871 closed

[2021-09-25 14:10] nehasewda opened #1879 "Apicurio schema registry with JsonSchemaKafkaSerializer and JsonSchemaKafkaDeserializer not working"
I am trying to implement schema registry using kafka streams with JSON serde(Input data is in JSON format). But unable to do so, It's not even throwing any error when I am publishing data in the input kafka topic.
After debugging little more, I found that only the serializer and deserializer(serde) part is causing this issue as the same code is working with primitive serde like String, Integer.

H

[2021-09-27 10:49] JoshVee commented on #1873
Hi @EricWittmann. The schemas were being created directly by the Producer, via the Apicurio Converter.

[2021-09-27 11:46] janvyhnanek commented on #1874
Thanks for information, it seems that indeed we will have to switch to confluent mode of communication, it is not in our capacity either to create clients for other languages in apicurio mode now.

We have found another problem related to missing groupId in confluent - if we switch to confluent mode, groupId must be always default. However, we still want the possibility to differ between schemas b

[2021-09-27 13:17] EricWittmann commented on #1879
So one thing that jumps out at me in the code snippet above is that you're not using the `properties` anywhere.

Another thing is that I understand that you're not seeing any errors, but is it just not doing anything at all?  Or is it doing something you didn't expect?  If you put a breakpoint in the `JsonSchemaKafkaSerializer` or `JsonSchemaKafkaDeserializer` classes do they ever get hit?  (in th

[2021-09-27 13:17] EricWittmann commented on #1879
@famartinrh any additional thoughts on this?

[2021-09-27 14:04] famartinrh commented on #1879
I completely agree with the points Eric made. Also I would encourage @nehasewda to migrate to the latest version of Apicurio Registry

[2021-09-27 17:48] RoopGuron commented on #1801
@EricWittmann For some food for thought, you could take a look at how [PassportJS](http://www.passportjs.org/) is being utilized by other UI apps like [backstage.io](http://www.backstage.io/) for instance.

[2021-09-28 19:01] nehasewda commented on #1879
Hi @EricWittmann ,

I am using the suggested version of Serde classes but still getting the below issue-

**Caused by: java.lang.IllegalStateException: artifactId cannot be null**
at io.apicurio.registry.serde.DefaultSchemaResolver.resolveSchemaByCoordinates(DefaultSchemaResolver.java:122)
at io.apicurio.registry.serde.DefaultSchemaResolver.resolveSchemaByArtifactReference(DefaultSchemaResolver.ja

[2021-09-29 09:31] tomasAlabes commented on #1807
Update after `2.1.0.Final`: Netty vulnerabilities are still there, coming with `io.quarkus:quarkus-undertow:jar:1.13.2.Final`. See dependency tree generated using

[code]

[code]

[2021-09-29 09:33] tomasAlabes commented on #1808
Update after `2.1.0.Final`: `resteasy` vulnerabilities are still there, coming with `org.keycloak:keycloak-admin-client:jar:14.0.0:compile`. See dependency tree generated using

[code]

[code]

[2021-09-29 10:52] famartinrh commented on #1879
First one minor thing, looks like you have the 1.3.x old version and the 2.x new version of our serdes libraries available in your classpath. The propety comes from the old version of the library. To avoid issues and confusion, please remove the 1.3.x apicurio serdes dependency from your app.

Now about your issue, I think there is a misunderstandment here on how our serializers and deserializers

[2021-09-29 11:27] nehasewda commented on #1879
Thanks @famartinrh for the response.

As per my understanding in the above code, I am creating a Json serde(logserde) from JsonSchemaKafkaSerializer and JsonSchemaKafkaDeserializer classes. Consumed.with() and Produced.with() method are used for kafka streams to serialize and deserialize the data records in INPUT_TOPIC and OUTPUT_TOPIC.

Therefore when you say that I need to first produce the mess

[2021-09-29 11:34] famartinrh commented on #1879
I mean that your stream is like
[code]
and my point is, the messages sent to INPUT_TOPIC are not serialized by Apicurio SerDes

i.e. take a look at this example application
The stream starts from `orders` topic
https://github.com/Apicurio/apicurio-registry-examples/blob/master/quarkus-demo/quarkus-kafka-streams/src/main/java/io/apicurio/example/kstreams/KStreamsTopologyProducer.java
The messages s

[2021-09-29 11:45] famartinrh commented on #1874
Hi, yes it's a perfectly fine approach to implement your own strategy "QualifiedRecordIdStrategy" we had the strategy interface for that purpose.

JFYI Also there is another interface `SchemaResolver` that it's also acceptable to re-implement, that may help you in the future if you find a very specific usecase, just have in mind doing so is a very advanced usecase :)

[2021-09-29 19:30] nehasewda commented on #1879
Hi @famartinrh ,

As per your suggestion, I have published the message using apicurio serializer given as below -

### Producer code -

Properties props = new Properties();
props.put(ProducerConfig.BOOTSTRAP_SERVERS_CONFIG, serviceKafka);
props.put(ProducerConfig.CLIENT_ID_CONFIG, "KafkaProducerExample");
props.put("apicurio.registry.url", schemaRegUrl);
props.put("apicurio.registry.headers.enable

[2021-09-30 07:56] famartinrh commented on #1879
if a simple kafka consumer configured with our Deserializer can read the message, a kafka streams app should read it as well. Try to revisit your configuration in the kafka streams app to match the consumer that works.

Also if you want to publish your app in GitHub or something to provide a reproducer app, I could review it

[2021-09-30 10:58] nehasewda commented on #1879
@famartinrh,
Here's the git repo - https://github.com/nehasewda/streams-demo
Could you please review.

[2021-09-30 21:39] adamcodemaker opened #1888 "keycloak, roles, logout does not work with 2.1.0.Final but works with 2.0.0.Final"
I set up simple stack with keycloak and apicurio-registry 2.1.0.Final
I configured everything according to this
https://developers.redhat.com/articles/2021/07/16/how-secure-apache-kafka-schemas-red-hat-integration-service-registry-20#secure_your_registry_with_sso
I can sign in to apicurio-registry but
1. Roles dont work. Even readonly user can upload artifacts and change rules
![image](https://use

[2021-10-01 09:29] carlesarnal opened #1890 "Remove kotlin extension"
We're using the Quarkus Kotlin extension because the library for json schema validation is using Kotlin. Let's search for alternatives so we can remove Kotlin from the project.

[2021-10-01 23:43] blacktooth opened #1896 "Support for Java 8"
Looks like support for Java 8 was dropped as part of [commit](https://github.com/Apicurio/apicurio-registry/commit/5ceb8a89ae772172826b150b87ff9f1bf87263ec). Is this intentional? Some of our libraries that depend on Apicurio packages still maintain Java 8 support. Is it possible to release Java 8 JARs for modules like [protobuf-schema-utilities](https://github.com/Apicurio/apicurio-registry/tree/m

[2021-10-04 08:40] carlesarnal commented on #1896
Hi,
Yes, we dropped the support for java 8 since it's no longer supported in Quarkus. I don't see any issue in releasing Java 8 JARs for some modules that are not Quarkus dependant. @riprasad @EricWittmann any reason to not add that?

[2021-10-04 08:40] christofluethi commented on #1591
i've just had the same issues with the design of the consumer-group and setting the acls. fully support the proposal of @estahn

As @EricWittmann said its required to use different consumer-group ids for all instances. however, setting env-vars different is propably not that easy if you're using the apicurio-registry-operator.

I think the fixed group id is somehow missleading and could be dangero

[2021-10-04 09:08] riprasad commented on #1896
@EricWittmann would be the best person to answer this!

[2021-10-04 11:03] carlesarnal commented on #1126
This is possible right now using [this](https://quarkus.io/guides/security-built-in-authentication#how-to-customize-authentication-exception-responses). This change has been added in Quarkus 2.x.

[2021-10-04 14:52] nehasewda commented on #1879
Hi @famartinrh,

Did you get a chance to review the above code.

[2021-10-04 16:26] EricWittmann commented on #1896
I have no problem with doing this.  Presumably we could do it via a classifier.

[2021-10-04 16:57] famartinrh commented on #1879
Hi, yes, you don't have any json schema, our SerDes for json require a json schema to be registered beforehand. Check our our docs on how to create an artifact in Apicurio Registry.

[2021-10-04 17:28] nehasewda commented on #1879
Thanks for the review.

I have already registered a json schema via Apicurio UI with same name as the kafka topic.
Here is the schema -
{
	"$id": "https://example.com/message.schema.json",
	"$schema": "http://json-schema.org/draft-07/schema#",
	"required": [
		"ID",
		"Equipment"
	],
	"type": "object",
	"properties": {
		"ID": {
			"description": "",
			"type": "string"
		},
		"Equipment": {
			"d

[2021-10-04 18:32] famartinrh commented on #1879
I'm glad it finally worked for you

[2021-10-06 07:39] christofluethi opened #1905 "CCompat Layer SchemaType with JSON"
Hi there.

Related to #1660 we are currently we are having issues with JSON schema type and the confluent compatibility layer.

### Confluent
#### Avro
[code]

#### Json
[code]

### Apicurio Registry
#### Avro
[code]

#### Json
[code]

From my perspective:
- Posting JSON schemas using the ccompat api is not working
- Fetching JSON schemas using the ccompat api `/schemas/ids` is not working
- Fetch

[2021-10-06 11:32] nehasewda commented on #1879
Hi @EricWittmann ,
Thanks for reopening the issue.

Could you please check the problem with my kafka streams code - https://github.com/nehasewda/streams-demo
Here, **the code is working all fine with Kafka Producer and Consumer APIs but not with Kafka streams**.

I got some help from @famartinrh but the issue still exists.
Kindly help.

[2021-10-06 12:48] EricWittmann commented on #1879
OK I've just spent some time on this.  I got your demo app working.  There are a few thing to mention.

First, I needed to remove the `required` section of your schema otherwise validation was failing.  I'm not sure why that was, and I don't have a lot of time to figure that part out.  It could be a bug in the JSON Schema validator library we're using.  That part requires some investigation perhap

[2021-10-06 17:10] nehasewda commented on #1879
@EricWittmann

Thank you so very much for the help. It's working fine now.

[2021-10-06 19:11] EricWittmann commented on #1888
This is likely due to a change in how authorization is enforced in 2.1.0.  I thought I had the default configuration the same as it was for 2.0.0 but perhaps I'm wrong....

... and after looking into it, I am wrong.  I decided to revert the RBAC support to be disabled by default.  So now you must explicitly enable RBAC.  Updated documentation about how to configure authorization (including RBAC) i

[2021-10-06 19:12] EricWittmann commented on #1888
Oh geez - this was 6 days ago.  Sorry for the delay in my response.  My github notification volume is getting a little out of hand. :(

[2021-10-07 07:41] carlesarnal commented on #1126
Sure, I'll add this.

[2021-10-07 08:38] famarting opened #1912 "multitenancy: context is not cleared out when passing tenantId via header or via domain name"
When tenantId is passed with http path prefix we are cleaning the context after the request here https://github.com/Apicurio/apicurio-registry/blob/master/app/src/main/java/io/apicurio/registry/rest/RegistryApplicationServletFilter.java#L158

For the other modes we support for providing the tenantId we are not cleaning the context, and therefore leaking the context for subsequent executions of oth

[2021-10-07 16:01] paoloantinori opened #1918 "[Docs] Installing Apicurio Registry using Docker points to the wrong image version"
https://www.apicur.io/registry/docs/apicurio-registry/2.1.0.Final/getting-started/assembly-installing-registry-docker.html

note this is a `2.x` URL

provides examples that refer to images pointing to `1.x`:

`$ docker pull apicurio/apicurio-registry-mem`

should be

`$ docker pull apicurio/apicurio-registry-mem:2.0.x-release`

[2021-10-08 13:38] EricWittmann opened #1921 "Long artifact names, descriptions, labels display poorly in UI"
![image](https://user-images.githubusercontent.com/1890703/136567028-0e22f3a6-054e-472c-8369-d1c26c746e8c.png)

[2021-10-08 14:15] SafarMirek opened #1922 "Improve Import/Export feature"
Currently, import into registry works fine only with new registry instance, because of the conflicts with ids. I would like to change that.
I propose to implement these things:
1) Add header to allow users import data with do-not-preserve globalId/contentId. Usecase for that would be, if user is using contentHash to get schemas and wants to import his schemas into not new registry instance.
2) Our

[2021-10-10 03:46] blacktooth opened #1924 "Support for Google Protobuf well known types"
Google protobuf format supports [WellKnownTypes](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf) that consists of types like `Timestamp`, `Duration`, `Any` etc. In addition Google also provides separate [library](https://github.com/googleapis/googleapis/tree/master/google) for types like `Money`, `TimeOfDay`, `PhoneNumber`, `Color` etc.

Right now, protobuf-schema-ut

[2021-10-11 07:51] nehasewda opened #1926 "Apicurio throwing io.apicurio.registry.storage.ArtifactNotFoundException while uploading a new artifact"
While trying upload a new artifact via Apicurio registry UI, getting io.apicurio.registry.storage.ArtifactNotFoundException.
Kindly help.

[2021-10-11 13:15] wtrocki opened #1929 "[3.0] REST API : Return more specific error codes to users"
Error codes that are returned are currently very generic - 404 is generic argument missing.
It will be better if errors contain information about specifics - like - missing group, artifact doesn't exist. wrong type etc.

[2021-10-12 11:02] EricWittmann commented on #1921
Note: the UI has changed since this screenshot was taken and the situation is better now.  Still have room for improvement so I will leave this open for now.

[2021-10-13 11:06] carlesarnal commented on #1929
Hey, @wtrocki we're returning the name of the cause in this API. Does this mean we need to create error codes like the ones we created for fleet manager?

[2021-10-13 11:20] #1924 closed, assigned to nobody

[2021-10-13 20:03] mdharper commented on #1873
Something definitely changed. Here's what I got on startup -- a lot of the "Discarded a (presumed) tombstone message" messages followed by a number of primary key violations. When everything loaded, the registry appeared to be empty.
[code]

[2021-10-19 20:07] christofluethi commented on #1591
Client id is a logical grouping for clients used in metrics, logs and for specifying quotas. Therefore having a dynamic client id could be difficult for setting quotas.

Beside that im fine with the Implementation. Thanks @EricWittmann

[2021-10-20 12:10] EricWittmann commented on #1926
@nehasewda ping

[2021-10-20 17:34] nehasewda commented on #1926
Sorry for the delay.
1. Apicurio image used  - apicurio/apicurio-registry-kafkasql:latest-snapshot
2. Trying to upload an artifact with an ID "out-stream" with a valid json schema.
3. Got the following error "io.apicurio.registry.storage.ArtifactNotFoundException artifact with ID out-stream not found".

Strangely, I was able to upload the same mentioned artifact after few retries.

[2021-10-20 17:39] EricWittmann commented on #1873
The test passes:  https://github.com/Apicurio/apicurio-registry/pull/1955

@mdharper how many instances of the registry are you running?  Just one, or multiple?

[2021-10-21 04:19] blacktooth opened #1956 "[Question] New release of apicurio-registry-protobuf-schema-utilities"
When can the next version of `apicurio-registry-protobuf-schema-utilities` library expected to be released on Maven? From the Github release tags, it seems like there is one month release cycle. I want to ensure that some of the fixes we submitted make it to the next Maven release.

1. Is the release cycle strictly followed?
2. How are changes picked for next release?

Thanks for your support!

[2021-10-21 12:10] petolexa opened #1958 "typo in anonymous_readonly evnironment variable in documentation"
Hello,

first - thank you for adding the possibility to use anonymous read access in v2.1.0. , it helps us a lot in specific use-cases.

Second, could you please correct the dashes to underscores in environment variable in the [documentation](https://github.com/Apicurio/apicurio-registry/blob/2c236b4156a65a73afd31be113d3016a19ce6bf2/docs/modules/ROOT/partials/getting-started/ref-registry-security-

[2021-10-21 12:17] bthdimension opened #1959 "Apicurio Registry UI: Wrong redirects to http instead of https"
**Environment:**
OpenShift 4.6

**Apicurio Registry Version:**
Tried the following images:
-	apicurio-registry-sql:2.0.1.Final
-	apicurio-registry-sql:2.1.1.Final

**Issue:**
We have an OpenShift 4.6 cluster where http is completely blocked (can't do anything about that). Accessing the UI, we are always redirected to a http address, which doesn't work for us.

I have found several GitHub issues co

[2021-10-21 12:18] bthdimension commented on #1959
config.js in 2.0.1.Final:
[code]

config.js in 2.1.1.Final:

[code]

[2021-10-25 13:26] #1591 closed, assigned to nobody

[2021-10-26 07:38] Bewi42 opened #1966 "UI won't load after successful keycloak authentication"
Hello,

I have a problem where apicurio-registry UI won't load after successful keycloak authentication. I have the message "Loading, please wait..." displayed and nothing more happens

I have configured apicurio-registry to use keycloak for authent mechanism. Here is the compose file I use :
[code]

When compose has started, I log to keycloak admin UI with admin user. Then I add a "apicurio" user

[2021-10-26 10:14] petolexa opened #1967 "UI filter malfunction in 2.1.0 and 2.1.1 versions"
Hi,

we've noticed a smaller issue when trying to filter artifacts in UI. When you try to swith the filter from 'Name' to anything else:
![obrazek](https://user-images.githubusercontent.com/11602126/138856483-354636d8-88e4-45de-ad0b-d97f9356a8d0.png)
the site refreshes and filter stays at 'Name'.
So it is not possible to filter by anything else by name.

There is no error in apicurio log regarding

[2021-10-26 15:32] #1966 closed, assigned to nobody

[2021-10-28 09:20] famarting opened #1971 "Implement protobuf content canonicalizer"
We can implement the protobuf content canonicalizer and use it in `ProtobufArtifactTypeUtilProvider`

For the implementation we should reuse some code we are currently using in our serdes, look at `ProtobufKafkaSerializer#getSchemaFromData`

A question that arises is how are we going to handle the upgrade when we have a new version that generates different canonicalHash for protobuf artifacts from

[2021-10-28 11:37] #1958 closed, assigned to EricWittmann

[2021-10-28 15:38] #1959 closed, assigned to EricWittmann

[2021-10-28 16:51] #1967 closed, assigned to EricWittmann

[2021-10-28 17:14] kilahm opened #1978 "`groupid` query parameter not filtering list by group"
The main list of artifacts (default landing page) shows the group name associated with each artifact as a link. When clicking the browser URL changes to `/ui/artifacts?group=<group name>` which seems to indicate it should automatically set the filter type to `Group` and insert `<group name>` into the search text input.

I can see a [`// TODO` comment in the component](https://github.com/Apicurio/a

[2021-10-30 07:59] petolexa commented on #1958
Thank you for fixing.

[2021-11-01 11:02] janvyhnanek commented on #1874
@EricWittmann I have created and tested the class but I have troubles creating a feature branch for pull request, I get an authorization error. Could you grant me the necessary rights or how else should I proceed? Thank you

[2021-11-01 16:01] EricWittmann commented on #1926
OK thanks @nehasewda - intermittent is the worst kind!  We'll keep trying to analyze it, but if you experience it again and can get the server logs and any stack traces that appear in the browser, that would be super helpful.  In addition, if it's possible to get a dump of the kafka topic, that would be even better.  Something like this:

`kafkacat -b localhost:9092 -t kafkasql-journal -Z -O -D \\

[2021-11-01 16:19] EricWittmann commented on #1966
Agreed - lack of error message on the server console is concerning.  If the server couldn't connect to KC there should have been a connection failure error of some kind.

What do you think @carlesarnal ?

[2021-11-02 05:38] nehasewda commented on #1926
Sure @EricWittmann . I will keep a track and pass the information as soon as I encounter this again.
Thanks for the help.

[2021-11-02 08:21] carlesarnal commented on #1966
This is something that happened to me in the past. It's probably a concern to raise with the Quarkus team. If you set the log level to DEBUG, you'll see the error. Unfortunately, these kinds of errors are not logged at the INFO level.

[2021-11-03 07:54] Bewi42 commented on #1966
Hello,
Thanks for your concern.

[2021-11-03 11:12] trombka commented on #1905
Hi @carlesarnal

What was the reason for #1677? Even the title says something that is not compatible with CP.
There should be no schemaType field in the response for a schema query by id.
No such field is described here:
https://docs.confluent.io/platform/current/schema-registry/develop/api.html#get--schemas-ids-int-%20id
Couldn't the whole merge be just reverted?

[2021-11-03 11:49] carlesarnal commented on #1905
Hi,

Although AFAIK it's not documented, the API returns the schemaType when the registered schema is not AVRO. You can check the rest object being used [here](https://github.com/confluentinc/schema-registry/blob/cde81674c7929c769ceddb848e8b5e75132da1fa/client/src/main/java/io/confluent/kafka/schemaregistry/client/rest/entities/SchemaString.java#L34). And you have an example I created locally wher

[2021-11-03 11:55] trombka commented on #1905
My comment was related to this issue because the unexpected behaviour is described in the original post by @christofluethi.

[code]

[2021-11-03 12:04] carlesarnal commented on #1905
Then your issue is that the schemaType is also returned for avro schemas? If that's the case, is a known issue and we're working to fix it (and others) but, as I said, the schemaType must be returned for json and protobuf.

[2021-11-03 12:57] trombka commented on #1905
Yes.
I'm using a tool that requires a schema registry and I'm using Apicurio Registry as a drop-in replacement. However, I cannot use your latest release, because the tool, unfortunately, fails with an "unknown schemaType field" error.

Ok, I see your reason for the field for JSON and Protobuf which, you're right, is undocumented CP behaviour.

[2021-11-03 16:23] EricWittmann commented on #1873
We think this might be a log compaction issue.  I think some of our kafka messages do not have correct keys compatible with our intended use of log compaction.  We've tried to be rather deliberate on this point but I think we got a couple of our message keys wrong.  Still evaluating.

[2021-11-03 17:06] EricWittmann opened #1993 "Kafka SQL storage contentId and globalId message keys not unique"
These messages are being compacted when they should not be.  The result is inconsistent values for these ID counters when restarting the application.

Because we cannot compact these messages, we should consider batching them instead of requiring one kafka message for each ID.  Perhaps that's a separate issue.

The solution here is to add a UUID to the `GlobalIdKey` and `ContentIdKey` messages.

[2021-11-03 17:06] EricWittmann commented on #1993
Note:  we should also try to create an automated test for this.

[2021-11-03 17:14] jsenko commented on #1993
Related to #1873

[2021-11-08 09:43] famartinrh commented on #1874
Hi @janvyhnanek you  have to create your pull request from your fork of the repository.

[2021-11-08 14:26] EricWittmann commented on #1971
I think the answer to @famartinrh about upgrading the DB with new contentHash values is to provide one of these:  https://github.com/Apicurio/apicurio-registry/blob/master/app/src/main/java/io/apicurio/registry/storage/impl/sql/IDbUpgrader.java

That allows us to provide a Java class that will participate in the DB upgrade process.  This is a concept brought over from Studio.  Here is an example:

[2021-11-08 14:32] #1978 closed

[2021-11-08 14:40] EricWittmann commented on #1926
@nehasewda I think we may figured out the root cause of this issue:

https://github.com/Apicurio/apicurio-registry/issues/1993

[2021-11-08 16:27] EricWittmann commented on #1874
Yes @famartinrh is correct - please create a fork of the repository, then push the feature branch to your fork and submit the PR from that.  And thank you in advance for the contribution!

[2021-11-08 16:59] nehasewda commented on #1926
@EricWittmann sure. Thanks!

[2021-11-09 17:34] famartinrh commented on #1971
thanks! I'm working on that

[2021-11-09 17:34] famartinrh commented on #1971
let's have this is WIP into account before making any new release

[2021-11-11 18:13] EricWittmann opened #2007 "Check the HTTP response cache control headers"
A user has reported odd behavior in the UI that we have tracked down to be incorrect cache control headers in our HTTP responses.  We need to validate that we are still returning "no-cache" http response headers for all our REST APIs.

[2021-11-11 22:08] mzaikin opened #2009 "[Question] Switch Docker image for running registry (due to Docker Hub introduced pull limits)"
Hi all:
We got into a complicated situation: we used for about half-year Apicurio Registry (with JPA for persistence) on IBM Public cloud OpenShift. Apicurio was installed via OperatorHub (Apicurio Registry Operator 0.0.4-v1.3.2.final provided by Apicurio).

At some point there started image errors due to Docker Hub pull limits (added Nov 2020), and we got cluster overfilled with Crashed pods, Pod

[2021-11-14 11:07] ivangsa opened #2015 "Support for multiple file artifacts (with file/folder structure)"
With some API specifications it's common to have multiple files as part of the same API

Examples:

- Asyncapi as .yml + Avros as .avsc,
- OpenAPI + examples files,
- gRPC are usually organized as several .proto files as well

And with some of this specifications artifacts must retain the same folder structure for editing and code generation tools to work

Current situation:

When multifile APIs a

[2021-11-15 09:09] janvyhnanek opened #2016 "Delete the last version of a schema"
As far as I know the current API and GUI do not allow user to delete only last version of a schema, the schema can be deleted only with all versions. We need to delete only the last version of a schema when someone registers by mistake a new version of schema which cannot be fixed by adding only compatible changes (mandatory backwards and forward compatibitlity is something we want and have set gl

[2021-11-15 10:55] jsenko commented on #2009
Hi @mzaikin

We have an Apicurio organization in `quay.io` as well, so you can try using `quay.io/apicurio/apicurio-registry-jpa:1.3.2.Final`.

The `0.x` Operator supports specifying the image in the CR (as you're doing), so you should be able to set `spec/image/name`, but persistence option should be defined in `spec/configuration/persistence` instead of `spec/image/persistence`. Please check if

[2021-11-16 09:20] carlesarnal commented on #1808
@tomasAlabes we should be able to close this with 2.2.1.Final

[2021-11-16 09:20] carlesarnal commented on #1807
@tomasAlabes we should be able to close this with 2.2.1.Final

[2021-11-16 18:18] EricWittmann commented on #2015
@ivangsa it would be interesting to get a more detailed explanation of this use case.  By that I mean:  can you give a slightly more in depth example of how developers are working with these groups of files and where the registry is expected to fit.  It seems like #865 (which is in progress) should solve your first example (Asyncapi + avro schemas).  I'm less sure about the other two, but it's pos

[2021-11-16 18:21] EricWittmann commented on #2016
Originally our thought was to keep versions immutable.  That is why versions cannot be deleted, although they can be deprecated and disabled.  Have you tried disabling the offending version?

@Apicurio/developers any thoughts on this?  Should we change our position on allowing versions to be deleted?

[2021-11-17 08:01] ivangsa commented on #2015
ok, let me share our use case/workflow..
this is a very standard asyncapi+avro, as you can see asyncapi has references to avro files that require does files to be retain a folder structure for editing and code generation to work
![image](https://user-images.githubusercontent.com/1246876/142158934-a3fa8591-0541-43a9-8576-cb4f064bad63.png)
(absolute references won't work as it will make it harder/im

[2021-11-17 17:26] carlesarnal commented on #2016
I don't think we want to make versions mutable again. That said, we can of course evolve how the states disabled or deprecated are being handled, AFAIK, even if you disable a version, if that version is the last one, it will be used for the compatibility checks.  So maybe we can consider looking for the latest *non-disabled* version?

[2021-11-17 18:15] EricWittmann commented on #2016
I think this is the right approach - allow disabling of versions (we do already) and eliminate them from consideration for things like compatibility checks.  And any other similar logic where we should be ignoring disabled versions.  It introduces some complexity, like what happens if you disable **every** version of an artifact.  We'll need to think through the edge cases a bit.

[2021-11-17 19:20] #2007 closed

[2021-11-17 19:57] ajborley opened #2024 "Cannot build exportV1 tool after release 2.1.0"
The upgrade to quarkus in PR #1526 causes the exportV1 tool build to fail with the following error.

[code]

The issue is that the 1.3.2.Final version of the apicurio-registry-app package is imported by the exportV1 pom, but the new quarkus level requires the changes that went into [app/src/main/java/io/apicurio/registry/services/RegistryConfigSource.java](https://github.com/Apicurio/apicurio-regi

[2021-11-17 21:13] ajborley commented on #2024
I have tried using the 2.1.3-SNAPSHOT versions of some of the app and common dependencies (rather than the 1.3.2 versions), but they require other changes and don't correctly use the 1.3.2 rest client (which I think is required to be able to call the v1 APIs).

[2021-11-18 12:25] famartinrh commented on #2024
I also spotted this.

yes, because we import rest client 1.3.2 , needed for rest api calls, that forces us to import registry-app 1.3.2 too. The only reason why we need registry-app dependency is to make use of `ArtifactTypeUtilProviderFactory` that's the only way to get the canonicalHash, which we have to provide it for import.

So the two solutions I can think of are:
- extract all the classes u

[2021-11-18 12:58] carlesarnal commented on #2024
I thin that the right solution here is the first one. I spotted that situation in the past, that the only reason to import the app module is that one, and I think it’s time to extract that into a separate module.

[2021-11-18 14:58] carlesarnal opened #2026 "Extract admin endpoints from the rest client to an admin client."

[2021-11-18 19:44] EricWittmann commented on #2024
I think Miroslav may be already working on (2) - making canonicalHash optional.  But I'm in favor of that option if it's feasible.

[2021-11-18 19:45] EricWittmann commented on #2024
For the record, I **also** think that option (1) should be done.  :)

[2021-11-19 15:54] tomasAlabes commented on #1807
Closing after verifying in 2.1.1.Final. Thanks!

[2021-11-19 15:54] #1807 closed

[2021-11-19 15:54] tomasAlabes commented on #1808
Closing after verifying in 2.1.1.Final. Thanks!